---
layout: page
title: Tutorials
permalink: /tutorial/
---

<div class="container mtb">
    <div class="row">

        <! -- tutorial POSTS LIST -->
        <div class="col-lg-8">

            {% for post in site.categories['tutorial'] %}
                <! -- tutorial Post -->

                {% if post.img != null %}
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img class="img-responsive" src="{{ "/assets/img/tutorial/" | prepend: site.baseurl }}{{ post.img }}">
                    </a>
                {% endif %}
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->