---
layout: tutorial
title: Categories
permalink: /category/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
        {% for category in site.categories %}
            {% unless category.first == "tutorial" or category.first == "project" or category.first == "design" %}
                <a class="anchor" id="{{ category.first }}"></a><h4>{{ category.first }}</h4>
                    <div class="hline"></div>
                    <ul class="popular-posts">
                        {% for post in site.categories[category.first] %}
                            <li>
                            {% if post.thumb != null %}
                                <a href="{{ post.url  | prepend: site.baseurl }}"><img src="{{ "/assets/img/tutorial/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a>
                            {% endif %}
                                <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                                <em>Posted on {{ post.date | date_to_string }}</em>
                            </li>

                        {% endfor %}
                    </ul>
            {% endunless %}
        {% endfor %}
        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->