body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
    font-size: 14px;
}

#toolbar {
    display: block;
    height: 100px;
    border: 1px solid #333;
    margin-bottom: 10px;
}

#sidebar {
    display: block;
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 500px;
    border: 1px solid #333;

}

svg#vis {
    display: block;
    border: 1px solid #333;
}

#data ul {
    list-style-type: none;
    margin-left: 0;
	cursor: default;
}

.zone{
    display: block;
    background: lightgreen;
	position: absolute;
	border-color: #ccc;
	border-width: 2;
}

.vertzonehidden{
display: none;
}

.mark {
    display: block;
    width: 50px;
    height: 50px;
    background: steelblue;
    margin: 25px 20px;
    cursor: default;
	border-color: #ccc;
	border-width: 2;
	float: left;
	font-size: 46px;
	text-align: center;
	vertical-align: center;

}
.axismark {
    display: block;
    width: 50px;
    height: 50px;
    background: steelblue;
    margin: 25px 20px;
    cursor: default;
	border-color: #ccc;
	border-width: 2;
	float: left;
	font-size: 46px;
	text-align: center;
	vertical-align: center;

}

.mark-accept-highlight {
    background: green;

}

.closeicon{
    width: 15px;
    height: 15px;
    background: red;
    cursor: default;
	border-color: black;
	border-width: 2;
	text-align: center;
	vertical-align: center;
	opacity: .7;
	user-select: none;
}

.menudiv{
	background: none;

}

.optiondiv{
	background: none;

}

#region{
	

}

#draggable_text{
	font-size: 46px;
	text-align: center;
	vertical-align: center;
}
#draggable_arc{
	font-size: 46px;
	text-align: center;
	vertical-align: center;
}
.hoverselected{
	color: black;
	background: khaki;

}
.optionselected{
	color: black;
	background: khaki;

}
.axisanchor{
	background: orange;
    width: 15px;
    height: 15px;
    cursor: default;
	border-color: black;
	border-width: 2;
	text-align: center;
	vertical-align: center;
	opacity: .7;
	user-select: none;

}
.ui-state-disabled{
	opacity: 1;
}