body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
    font-size: 14px;
    font-family: Verdana, Tahoma, sans-serif;
}


li.ui-draggable-dragging.column{
	color:white;
	opacity:0.6;
	z-index:20;
	background-color:red;
}


div#propertyEditor {
	position:absolute;
	left:1030px;
	width:250px;
	top:112px;
	height:400px;
	border:1px solid black;
}






div.menudivGroup {
	position:absolute;
	background-color:#cccccc;
	border:1px solid #999;
	box-shadow: 2px 2px 5px #666;
	width:120px;
	padding-left:2px;
}


div.menudiv {
	height:25px;
}

div.submenudivGroup {
	position:absolute;
	background-color:#cccccc;
	border:1px solid #999;
	box-shadow: 2px 2px 5px #666;
	width:100px;
	padding-left:2px;
	left:118px;
	top:-1px;
}


div.optiondiv {
	height:20px;
	margin-bottom:18px;
	margin-top:18px;
}

div.menuArrow {
	position:relative;
	top:-18px;
	left:105px;
}


#toolbar {
    display: block;
    height: 100px;
    border: 1px solid #333;
    margin-bottom: 10px;
}

#sidebar {
    display: block;
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 500px;
    border: 1px solid #000;

}

svg#vis {
    display: block;
    border: 1px solid #333;
}

#data ul {
    list-style-type: none;
    margin-left: 0;
	cursor: default;
}

.zone{
    display: block;
    background: lightgreen;
	position: absolute;
	border-color: #cccccc;
	border-width: 2;
}

.vertzonehidden{
display: none;
}

#axisdrag path,line {
	font-size: 10px;
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
	font-family: sans-serif;	
}

#axisdrag text {
	font-size: 8px;
	font-family: sans-serif;	
}

.axis {
	font-size: 14px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;	
}
.textanchor{
	background: orange;
    width: 15px;
    height: 15px;
    cursor: default;
	border-color: black;
	border-width: 2;
	text-align: center;
	vertical-align: center;
	opacity: .7;
	user-select: none;

}

.mark {
    display: block;
    width: 50px;
    height: 50px;
    background: #4682B4;
    margin: 25px 20px;
    cursor: default;
	border-color: #cccccc;
	border-width: 2;
	float: left;
	font-size: 46px;
	text-align: center;
	vertical-align: center;

}
.axismark {
    display: block;
    width: 50px;
    height: 50px;
    background: #4682B4;
    margin: 25px 20px;
    cursor: default;
	border-color: #cccccc;
	border-width: 2;
	float: left;
	font-size: 46px;
	text-align: center;
	vertical-align: center;

}

.mark-accept-highlight {
    background: green;

}

.closeicon{
  width: 15px;
  height: 15px;
  background: red;
  cursor: default;
	border-color: black;
	border-width: 2;
	text-align: center;
	vertical-align: center;
	opacity: .7;
	user-select: none;
}

.closeicon:hover {
	cursor:pointer;
}

.menudiv{
	background: none;

}

.optiondiv{
	background: none;

}

#region{
	width: 1020px;
}

#draggable_text{
	font-size: 46px;
	text-align: center;
	vertical-align: center;
}
#draggable_arc{
	font-size: 46px;
	text-align: center;
	vertical-align: center;
}

.hoverselected{
	color: black;
	background: khaki;
}


.optionselected{
	color: black;
	//background: khaki;
	font-weight:bold;
}

.axisanchor{
	background: orange;
    width: 15px;
    height: 15px;
    cursor: default;
	border-color: black;
	border-width: 2;
	text-align: center;
	vertical-align: center;
	opacity: .7;
	user-select: none;

}
.ui-state-disabled{
	opacity: 1;
}

div.note {
	padding:2px;
	border:1px solid #fff;
	background-color: #fff;
}

div.propertyEditorHeader {
	text-align:center;
	background-color:black;
	color:white;
	font-size:16px;
	font-family:Georgia, sans-serif;
	padding:2px;
	margin-bottom:5px;
}

div.propertyEditorWidget {
	text-align:center;
	margin-bottom:15px;
}


