<div class="col-lg-4">
<!--     <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
<!--     <h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Subscribe to this tutoral  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>
    <div class="spacing"></div> -->
    <h4>Design Assets</h4>
    <div class="hline"></div>
        <p>
            <a href="{{'/design/persona' | prepend: site.baseurl  }}">Personas</a>
        </p>
        <p>
            <a href="{{'/design/vocabulary' | prepend: site.baseurl  }}">Vocabulary</a>
        </p>
        <p>
            <a href="{{'/design/journeymaps' | prepend: site.baseurl  }}">Journey Maps</a>
        </p>
    <div class="spacing"></div>


</div>