body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
    font-size: 14px;
}

h2 {
    display: block;
    margin: 0;
    padding: 0 10px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

#toolbar {
    display: block;
    height: 75px;
    border: 1px solid #333;
    margin-bottom: 10px;
}

#toolbar h2 {
    -webkit-transform: rotate(-90deg);
    width: 115px;
    margin-left: -60px;
}

#sidebar {
    display: block;
    float: left;
    width: 125px;
    border: 1px solid #333;

}

#design {
    float: left;
    display: block;
    width: 500px;
    height: 200px;
    margin: 0 10px;
    border: 1px solid #333;
}

#preview {
    float: left;
    display: block;
    width: 700px;
    height: 500px;
    border: 1px solid #333;
}

#data ul {
    list-style-type: none;
    padding-left: 10px;
	cursor: default;
}

.zone {
    display: block;
	position: absolute;
    opacity: 0.6;
    font-weight: bold;
    font-size: 18px;
}

.delegate { background: steelblue; }
.property { background: #999; }

.zone .rotate {
    display: block;
    /* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    position: absolute;
    bottom: 12px;
    right: 0px;
}

.vertzonehidden{
display: none;
}

.properties {
    display: block;
    background: #ccc;
    border: 1px solid #666;
    width: 200px;
    padding: 10px;
    position: absolute;
}

.mark {
    display: block;
    width: 50px;
    height: 50px;
    background: steelblue;
    margin: -5px 30px;
    cursor: default;
	border-color: #ccc;
	border-width: 2;
}

.mark-accept-highlight {
    background: green;

}