<div class="binding">
  <div ng-if="scale" class="scale" scale="{{scale.name}}"><div class="edit" ng-click="editScale($event)">{{scale.properties.type.slice(0, 3)}}</div> {{scale.displayName|inflector:'humanize'}}</div>
  <div ng-if="field" class="schema" ng-class="{'raw': field.raw(), 'derived': !field.raw()}" field="{{field.name || field}}">
    <span ng-show="field.stat">{{field.stat}}({{field.name || field}})</span>
    <span ng-hide="field.stat">{{field.name || field}}</span>
    <div ng-if="field.pipeline().forkName" class="aggregate">Aggregate</div>
  </div>
  <div ng-if="!field" class="empty">&nbsp;</div>
</div>
