<div class="binding-draggable" vde-draggable>


  <div class="binding">
    <div ng-if="scale" class="scale" scale="{{scale.name}}">
      <div class="editScale" ng-click="editBinding($event, 'scale')" vde-tooltip="Edit Scale" ng-click="editBinding($event, 'scale')">Edit Scale</div>
      {{scale.displayName|inflector:'humanize'}}
    </div>


    <div ng-if="field" class="schema" ng-class="{'raw': field.raw(), 'derived': !field.raw()}" field="{{field.name || field}}" field-spec="{{field.spec()}}">
      <span ng-show="field.stat">{{field.stat}}({{field.name || field}})</span>
      <span ng-hide="field.stat">{{field.name || field}}</span>

      <div ng-if="field.pipeline().forkName && field.type != 'ordinal' && field.type != 'encoded'"
           class="aggregate" vde-tooltip="Aggregate Field" ng-click="editBinding($event, 'field')">Aggregate</div>
    </div>
    <div ng-if="!field" class="empty">&nbsp;</div>
  </div>
</div>