<div class="binding-draggable" vde-draggable>


  <div class="binding">
    <div ng-if="scale" class="scale" scale="{{scale.name}}">
      <div class="editScale" ng-click="editBinding($event, 'scale')" vde-tooltip="Edit Scale" ng-click="editBinding($event, 'scale')">Edit Scale</div>
      {{scale.displayName|inflector:'humanize'}}
    </div>


    <div ng-if="field" class="schema" ng-class="{'raw': field.raw(), 'derived': !field.raw()}" vde-field="field">
      <span ng-show="field.stat">{{field.stat}}({{field.name || field}})</span>
      <span ng-hide="field.stat">{{field.name || field}}</span>
    </div>
    <div ng-if="!field" class="empty">&nbsp;</div>
  </div>
</div>