<div class="inspector" ng-controller="PipelineCtrl">
    <ul>
      <li class="pipeline-name icon">Pipeline name
        <input type="text" ng-model="activePipeline.displayName" />
      </li>

      <li class="import-data icon">Import data from
        <select ng-model="pMdl.activePipelineSource" ng-change="setSource()">
          <option value="">Select...</option>
          <option ng-repeat="src in pMdl.dataSources" value="{{src}}" ng-selected="pMdl.activePipelineSource==src||activePipeline.source==src">{{src}}</option>
          <option value="vdeNewData">New Data Source</option>
        </select>
      </li>

      <li ng-repeat="transform in activePipeline.transforms" class="transform-{{transform.type|lowercase}} icon" ng-include="'tmpl/transforms/' + (transform.type|lowercase) + '.html'"></li>
    </ul>

    <div class="slickgrid" ng-if="activePipeline.source" vde-data-grid pipeline="activePipeline"></div>

    <ul>
      <li ng-repeat="transform in newTransforms" class="transform-{{transform.type|lowercase}} icon" ng-init="isNewTransform = 1" ng-include="'tmpl/transforms/' + (transform.type|lowercase) + '.html'"></li>
    </ul>

    <div ng-show="activePipeline.source && newTransforms.length == 0">
      <h6>Data Transforms</h6>
      <div class="shelf icons">
        <a class="transform-filter" ng-click="newTransform('Filter')">Filter</a>
        <a class="transform-sort" ng-click="newTransform('Sort')">Sort</a>
        <a class="transform-formula" ng-click="newTransform('Formula')">Formula (Extend)</a>
        <a class="transform-facet" ng-click="newTransform('Facet')">Facet (Group)</a>
        <br clear="all" />
      </div>

      <h6>Visual Transforms</h6>
      <div class="shelf icons">
        <a class="transform-pie" ng-click="newTransform('Pie')">Pie Chart</a>
        <br clear="all" />
      </div>
    </div>

    <h6>Scales</h6>
    <div id="scales" class="shelf">
        <vde-binding ng-repeat="(scaleName, scale) in activePipeline.scales" scale="scale" draggable="1"></vde-binding>

        <br clear="all" />
    </div>

  </div>

</div>