<div class="property">
  <label>{{label}}</label>
  <div class="field" ng-switch on="type">
    <div ng-show="scale">
      <vde-binding scale="scale.properties.name" field="field"></vde-binding>

      <a class="unbind" ng-click="unbind(property)">Unbind</a>
    </div>

    <div class="schema" ng-show="field && !scale">{{field}}</div>

    <div ng-show="!field">
      <span ng-switch-when="text"><input type="text" ng-model="$parent.ngModel" ng-change="onchange()" /></span>

      <span ng-switch-when="number"><input type="number" ng-model="$parent.ngModel" ng-change="onchange()" /></span>

      <span ng-switch-when="range"><input type="range" ng-model="$parent.ngModel" ng-change="onchange()" min="{{min}}" max="{{max}}" step="{{step}}" /></span>

      <span ng-switch-when="color"><input type="color" ng-model="$parent.ngModel" ng-change="onchange()" /></span>

      <span ng-switch-when="select"><select ng-change="onchange()" ng-model="$parent.ngModel" ng-options="opt for opt in $parent.options"></select></span>

      <span ng-switch-when="field" class="schema-target">Drop a column here.</span>

      <div class="expr-container" ng-switch-when="expr" ng-model="$parent.ngModel" vde-expr></div>
    </div>
  </div>
</div>