<div class="inspector">
  <div ng-if="activeVisual.encoders.length == 0">
    <h6>Templates</h6>
    <div class="shelf icons">
      <a class="encoder-stack" ng-click="addEncoder('Stack')">Stack</a>
      <br clear="all" />
    </div>
  </div>

  <div ng-repeat="encoder in activeVisual.encoders">
    <div ng-if="encoder.type == 'stack'" id="stack" ng-include="'tmpl/transforms/stack.html'"></div>
  </div>

  <fieldset id="x">
    <legend>X</legend>

    <vde-property label="Start" type="number" item="activeVisual" property="x" ng-model="activeVisual.properties.x.value" scale="activeVisual.properties.x.scale" field="activeVisual.properties.x.field"></vde-property>

    <vde-property label="Width" type="number" item="activeVisual" property="width" ng-model="activeVisual.properties.width.value" scale="activeVisual.properties.width.scale" field="activeVisual.properties.width.field"></vde-property>

    <vde-property label="End" type="number" item="activeVisual" property="x2" ng-model="activeVisual.properties.x2.value" scale="activeVisual.properties.x2.scale" field="activeVisual.properties.x2.field"></vde-property>

  </fieldset>

  <fieldset id="y">
    <legend>Y</legend>

    <vde-property label="Start" type="number" item="activeVisual" property="y" ng-model="activeVisual.properties.y.value" scale="activeVisual.properties.y.scale" field="activeVisual.properties.y.field"></vde-property>

    <vde-property label="Height" type="number" item="activeVisual" property="height" ng-model="activeVisual.properties.height.value" scale="activeVisual.properties.height.scale" field="activeVisual.properties.height.field"></vde-property>

    <vde-property label="End" type="number" item="activeVisual" property="y2" ng-model="activeVisual.properties.y2.value" scale="activeVisual.properties.y2.scale" field="activeVisual.properties.y2.field"></vde-property>

  </fieldset>

  <fieldset id="fill">
    <legend>Fill</legend>

    <vde-property label="Color" type="color" item="activeVisual" property="fill" ng-model="activeVisual.properties.fill.value" scale="activeVisual.properties.fill.scale" field="activeVisual.properties.fill.field"></vde-property>  

    <vde-property label="Opacity" type="range" min="0" max="1" step="0.1" item="activeVisual" property="fillOpacity" ng-model="activeVisual.properties.fillOpacity.value" scale="activeVisual.properties.fillOpacity.scale" field="activeVisual.properties.fillOpacity.field"></vde-property> 
  </fieldset>  

  <fieldset id="stroke">
    <legend>Stroke</legend>

    <vde-property label="Color" type="color" item="activeVisual" property="stroke" ng-model="activeVisual.properties.stroke.value" scale="activeVisual.properties.stroke.scale" field="activeVisual.properties.stroke.field"></vde-property>  

    <vde-property label="Width" type="range" min="0" step="0.25" max="10" item="activeVisual" property="strokeWidth" ng-model="activeVisual.properties.strokeWidth.value" scale="activeVisual.properties.strokeWidth.scale" field="activeVisual.properties.strokeWidth.field"></vde-property> 
  </fieldset>  
 
</div>