<div class="scale-values">
  <div ng-if="type != 'select'">
    <p class="current-values" ng-show="values.length > 0"><input ng-repeat="val in values" type="{{type}}" ng-model="val.value" ng-blur="delete($index)" ng-change="update($index)" />
      <br clear="all" />
    </p>

    <p class="icons"><input type="{{type}}" ng-model="$parent.newValue" ng-keypress="add($event)" />  <a ng-click="add(null, true)" class="add">Add Value</a></p>
  </div>

  <div ng-if="type == 'select'">
    <p class="current-values" ng-show="values.length > 0">
      <select ng-repeat="val in values" ng-model="val.value" ng-options="opt for opt in options"></select>
    </p>

    <p>
      <select ng-model="$parent.newValue" ng-options="opt for opt in options"></select>
      <a ng-click="add(null, true)" class="add">Add Value</a>
    </p>
  </div>
</div>
