<h4>Dimensions</h4>

<vde-property label="Width" type="number" item="vis" property="width"
              ng-model="vis.width" nodrop="1" style="half"></vde-property>

<vde-property label="Height" type="number" item="vis" property="height"
              ng-model="vis.height" nodrop="1" style="half"></vde-property>

<h4>Padding</h4>
  <vde-property label="Automatic" type="checkbox"
                item="vis" property="_autopad" ng-model="vis._autopad"
                nodrop="1" style="full"></vde-property>

  <div ng-show="!vis._autopad">
    <vde-property label="Left" type="number" item="vis" property="padding.left"
                  ng-model="vis.padding.left" nodrop="1" style="half"></vde-property>

    <vde-property label="Right" type="number" item="vis" property="padding.right"
                  ng-model="vis.padding.right" nodrop="1" style="half"></vde-property>

    <vde-property label="Top" type="number" item="vis" property="padding.top"
                  ng-model="vis.padding.top" nodrop="1" style="half"></vde-property>

    <vde-property label="Bottom" type="number" item="vis" property="padding.bottom"
                  ng-model="vis.padding.bottom" nodrop="1" style="half"></vde-property>
  </div>

<br clear="all" />