<div id="properties">
  <h2><span>Visual</span>: Visualization Properties</h2>

  <vde-property label="Width" type="number" ng-model="properties.width" reparse="1"></vde-property>

  <vde-property label="Height" type="number" ng-model="properties.height"></vde-property>
 
  <fieldset id="padding">
    <legend>Padding</legend>

    <vde-property label="Top" type="number" ng-model="properties.padding.top"></vde-property>

    <vde-property label="Bottom" type="number" ng-model="properties.padding.bottom"></vde-property>

    <vde-property label="Left" type="number" ng-model="properties.padding.left"></vde-property>

    <vde-property label="Right" type="number" ng-model="properties.padding.right"></vde-property>

  </fieldset>

</div>