<div id="properties">
  <h2><span>Visual</span>: Visualization Properties</h2>

  <vde-property label="Width" type="number" ng-model="properties.width" reparse="1"></vde-property>

  <vde-property label="Height" type="number" ng-model="properties.height" reparse="1"></vde-property>
 
  <fieldset id="padding">
    <legend>Padding</legend>

    <vde-property label="Top" type="number" ng-model="properties.padding.top" reparse="1"></vde-property>

    <vde-property label="Bottom" type="number" ng-model="properties.padding.bottom" reparse="1"></vde-property>

    <vde-property label="Left" type="number" ng-model="properties.padding.left" reparse="1"></vde-property>

    <vde-property label="Right" type="number" ng-model="properties.padding.right" reparse="1"></vde-property>

  </fieldset>

</div>