<div class="overlay" ng-show="bMdl.bugReport" ng-click="bMdl.bugReport = false;">
</div>

<div id="bug-report" ng-show="bMdl.bugReport">
  <p>In your bug report, please describe:
    <ol>
      <li>What you were trying to accomplish.</li>
      <li>What you hoped would happen.</li>
      <li>What actually happened</li>
    </ol>
  </p>

  <vde-property label="Bug Report" type="textarea" item="bMdl" property="report" ng-model="bMdl.report" nodrop="1" nochange="1">
    <textarea ng-model="bMdl.report"></textarea>
  </vde-property>  

  <p>If you would like us to contact you regarding your bug report, please attach your name and email address with this bug report. These fields are optional.</p>

  <vde-property label="Name" type="text" item="bMdl" property="name" ng-model="bMdl.name" nodrop="1" nochange="1"></vde-property>  

  <vde-property label="Email" type="text" item="bMdl" property="email" ng-model="bMdl.email" nodrop="1" nochange="1"></vde-property>  

  <input type="button" value="Submit" ng-click="reportBug()" />
  <input type="button" value="Cancel" ng-click="bMdl.bugReport = false;" />

</div>

<a id="bug-link" class="util-icon icon" ng-click="bMdl.bugReport = true;" vde-tooltip="Bug Report">Bug Report</a>

