<div id="toolbar">
  <ul id="marks">
    <li ng-repeat="mark in marks" id="{{mark}}" class="mark" draggable="true" vde-draggable vde-tooltip="{{mark}}">{{mark}}</li>
  </ul>

  <ul class="timeline" ng-controller="TimelineCtrl">
    <li id="undo" ng-class="{'timeline-disabled': timeline.idx <= 0}" ng-click="undo()" vde-tooltip="Undo">Undo</li>
    <li id="redo" ng-class="{'timeline-disabled': timeline.idx >= timeline.length-1}" ng-click="redo()" vde-tooltip="Redo">Redo</li>
  </ul>

  <ul class="timeline" ng-controller="TimelineCtrl">
    <li id="open" ng-click="showOpen($event)" vde-tooltip="Open">Open</li>
    <li id="save" ng-click="save($event)" vde-tooltip="Save">Save</li>
    <li id="share" ng-click="export($event)" vde-tooltip="Share/Export">Share/Export</li>
  </ul>

</div>

<div id="canvas">
  <div id="vis"></div>

  <div id="ivis"></div>
</div>
