<div id="groups" class="inspectors chrome" ng-controller="GroupsCtrl">
  <h2><span>Visual Layers</span></h2> 

  <div class="group" ng-repeat="(groupName, group) in gMdl.groups">
    <div ng-if="group.layer">
      <h3 ng-class="{expanded:activeGroup == group}" ng-click="toggleVisual(group)">{{groupName|inflector:'humanize'}}</h3>

      <div ng-if="activeGroup == group">

        <h4>Axes <a ng-click="addAxis()" class="add">New Axis</a></h4>
        
        <ul>
          <li ng-repeat="(axisName, axis) in group.axes" ng-class="{selected:activeVisual==axis}" ng-click="toggleVisual(axis)">
            <h5>{{axis.name|inflector:'humanize'}} <a ng-click="removeVisual('axes', axis.name);" class="remove">Delete</a></h5>

            <ng-include src="'tmpl/inspectors/axis.html'" ng-if="activeVisual==axis"></ng-include>
          </li>
        </ul>

        <h4>Marks</h4>
        
        <ul>
          <li ng-repeat="(markName, mark) in group.marks" ng-class="{selected:activeVisual==mark}" ng-click="toggleVisual(mark)">
            <h5>{{mark.displayName|inflector:'humanize'}} <a ng-click="removeVisual('marks', mark.name);" class="remove">Delete</a></h5>

            <div ng-if="activeVisual==mark">
              <vde-property label="Name" type="text" item="activeVisual" ng-model="activeVisual.displayName" nodrop="1"></vde-property>

              <vde-property label="Pipeline" nodrop="1">
                <select ng-model="gMdl.activeVisualPipeline" ng-change="setPipeline()">
                  <option value="">Select...</option>
                  <option ng-repeat="(pipelineName, pipeline) in gMdl.pipelines" value="{{pipelineName}}" ng-selected="gMdl.activeVisualPipeline==pipelineName">{{pipeline.displayName|inflector:'humanize'}}</option>
                  <option value="vdeNewPipeline">New Pipeline</option>
                </select>
              </vde-property>

              <ng-include src="'tmpl/inspectors/' + mark.type + '.html'"></ng-include>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

