<div id="groups" class="chrome" ng-controller="GroupsCtrl" ng-class="activeGroup">
  <h2><span>Groups</span></h2> 

  <div class="group" ng-repeat="(groupName, group) in groups">
    <h3 ng-class="{expanded:activeGroup == groupName}" ng-click="toggleGroup(groupName)">{{groupName|inflector:'humanize'}}</h3>

    <div class="member" ng-show="activeGroup == groupName" ng-hide="activeGroup != groupName">
      <h4>Scales <a href="#" class="add">New Scale</a></h4>

      <ul>
        <li ng-class="{selected:itemName==scaleName}" ng-repeat="(scaleName, scale) in group.scales"><a ng-href="#/group/{{groupName}}/scale/{{scaleName}}">{{scale.properties.name|inflector:'humanize'}}</a></li>
      </ul>

      <h4>Axes <a href="#" class="add">New Axis</a></h4>
      
      <ul>
        <li ng-repeat="(axisName, axis) in group.axes"><a ng-href="#/group/{{groupName}}/axis/{{axisName}}">{{axisName|inflector:'humanize'}}</a></li>
      </ul>

      <h4>Marks</h4>
      
      <ul>
        <li ng-class="{selected:itemName==markName}" ng-repeat="(markName, mark) in group.marks"><a ng-href="#/group/{{groupName}}/mark/{{markName}}">{{markName|inflector:'humanize'}}</a></li>
      </ul>

    </div>

  </div>
</div>

