<div id="pipelines-list" ng-controller="PipelinesListCtrl">
  <div class="pipeline" ng-repeat="(pipelineName, pipeline) in pMdl.pipelines"
       ng-class="{selected:activePipeline==pipeline}">

    <h3 vde-edit-name ng-model="pipeline.displayName" strip-br="true"
        ng-click="togglePipeline(pipeline)">{{pipeline.displayName}}</h3>

    <div class="heading">1. From Source:
      <select ng-model="pMdl.activePipelineSource"
              ng-options="f.value as f.key for f in fromSources"
              ng-change="setSource()" vde-pos-new-data="1">
      </select>
    </div>

    <div ng-init="pMdl.count = 1;">
      <ng-include ng-repeat="transform in pipeline.transforms"
                  ng-show="!transform.isVisual && transform.type != 'stats'"
                  src="'tmpl/transforms/' + (transform.type|lowercase) + '.html'">
      </ng-include>
    </div>

    <div class="addNew">+ New Transform</div>

    <div class="datatable" id="datasheet" ng-if="pipeline.source" vde-data-grid pipeline="pipeline"></div>

    <div class="heading">Scales <span class="newScale">+</span></div>
  </div>
</div>