.inspector {
    display: block;
    position: absolute;
    overflow-x: hidden;
    background: #ccc;
    border: 1px solid #aaa;
    border-radius: 7px;
    box-shadow: 2px 5px 15px 3px rgba(0, 0, 0, 0.4);
}

.inspector svg line { shape-rendering: crispEdges; }

.inspector .close {
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    padding: 5px;
    background: #666;
    color: #fff;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    cursor: pointer;  
    font: 11px Verdana, sans-serif;
    text-transform: lowercase;
}

.inspector label.icon {
    padding-left: 15px;
    cursor: pointer;
}

.inspector label.expand { background: url(../imgs/expand.gif) no-repeat; } 
.inspector label.contract { background: url(../imgs/contract.gif) no-repeat;}  

.inspector .field { 
    position: absolute; 
    margin: 0;
    padding: 3px;
    border: 1px dashed transparent;
}
.inspector .field select { width: 100px;}
.inspector .field input[type=number] { width: 40px; }

.inspector label {
    float: left;
    font: italic 12px Georgia, serif;
    text-transform: lowercase;
}

.inspector .bound { background: transparent !important; }

#inspector_rect {
    width: 250px;
    height: 350px;
}

#inspector_rect .height {
    top: 155px;
    left: 120px;
}

#inspector_rect .height label { float: none; }

#inspector_rect .y1 {
    top: 90px;
    left: 120px;
}

#inspector_rect .y2 {
    top: 240px;
    left: 120px;
}

#inspector_rect .width {
    top: 40px;
    left: 27px;
}

#inspector_rect .width label { 
    float: left; 
    margin-top: 10px;
}

#inspector_rect .width input, #inspector_rect .height input { 
    margin-left: 5px; 
    width: 50px;
}

#inspector_rect .x1 {
    top: 0px;
    left: 15px;
}

#inspector_rect .x2 {
    top: 20px;
    left: 90px;
}

#inspector_rect .x1 label, #inspector_rect .x2 label { 
    float: left; 
    margin-top: 0px;
}

#inspector_rect .fill {
    top: 180px;
    left: 20px;
}

#inspector_rect .fill input { width: 35px; }

#inspector_rect .stroke {
    top: 275px;
    left: 15px;
}

.inspector .stroke input { 
    float: left; 
    margin-left: 10px;
}

#inspector_rect .strokeWidth {
    top: 310px;
    left: 15px;
}

.inspector .strokeWidth input { 
    float: left;
    width: 115px;
    margin-left: 10px; 
}

#inspector_rect .strokeWidth.bound { top: 295px; }
#inspector_rect .stroke.bound label, #inspector_rect .strokeWidth.bound label { margin-top: 10px; }

#inspector_arc {
    width: 300px;
    height: 300px;
}

#inspector_arc line.outerRadius { shape-rendering: geometricPrecision; }

#inspector_arc .angle {
    top: 85px;
    left: 5px;
}

#inspector_arc .innerRadius {
    top: 80px;
    left: 185px;
}

#inspector_arc .outerRadius {
    top: 175px;
    left: 115px;
}

#inspector_arc .fill {
    top: 35px;
    left: 105px;
}

#inspector_arc .fill label {
    display: block;
    width: 100%;
    padding-left: 10px;
}

#inspector_arc .fill input { width: 30px; }

#inspector_arc .stroke {
    top: 225px;
    left: 5px;
}

#inspector_arc .strokeWidth {
    top: 260px;
    left: 5px;
}