body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.panel { 
    position: absolute;
    top: 10px;
    left: 10px;
}

.toolbar, .sidebar { 
    float: left; 
    border: 1px solid #ccc;
    background: #ccc; 
    /*visibility: hidden;*/
}

.toolbar { overflow: hidden; }

.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
}

/*.panel:hover .toolbar, .panel:hover .sidebar { visibility: visible; }*/

.vis {
    float: left;
    position: relative;
    border: 1px solid #999;
    resize: both;
    overflow: hidden;
}

.primitives { clear: both; }

.primitives ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: url(../imgs/openhand.cur), default !important;
}

.primitives li {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    padding: 8px;
    text-indent: -999em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.primitives li:hover { background-color: #ddd; }

.primitives .rect { background-image: url(../imgs/rect.png); }
.primitives .arc { background-image: url(../imgs/arc.png); }
.primitives .axis { background-image: url(../imgs/axis.png); }

.toolbar.data { margin-left: 34px; }
.toolbar.data select { 
    float: left;
    margin: 5px; 
}

.pill {
    float: left;
    padding: 3px 0;
    margin: 5px;
    background: #aaa;
    border: 1px solid #999;
    border-radius: 10px;
    font-size: 11px;
    cursor: url(../imgs/openhand.cur), default !important;
}

.pill:hover { 
    background-color: #bbb; 
    border-color: #aaa;
}

.pill .delete {
    font-weight: bold;    
    padding: 0 3px 0 5px;
    cursor: pointer !important;
    visibility: hidden;
}

.pill .expand {
    padding: 0 5px 0 3px;
    cursor: pointer !important;
    visibility: hidden;
}

.pill.show-controls:hover .delete, .pill.show-controls:hover .expand { visibility: visible; }
.pill .delete:hover, .pill .expand:hover { color: #666; }

svg g {cursor: pointer;}

.axis path, .axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
}
