.panel { 
    position: absolute;
    top: 10px;
    left: 10px;
}

.toolbar, .sidebar { 
    float: left; 
    border: 1px solid #ccc;
    background: #ccc; 
    /*visibility: hidden;*/
    overflow-x: hidden;
    overflow-y: auto;
}

/*.panel:hover .toolbar, .panel:hover .sidebar { visibility: visible; }*/

.vis {
    float: left;
    border: 1px solid #999;
    resize: both;
    overflow: hidden;
}

.primitives ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: url(../imgs/openhand.cur), default !important;
}

.primitives li {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    padding: 8px;
    text-indent: -999em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.primitives li:hover { background-color: #ddd; }

.primitives .rect { background-image: url(../imgs/rect.png); }
.primitives .arc { background-image: url(../imgs/arc.png); }
.primitives .axis { background-image: url(../imgs/axis.png); }

svg g {cursor: pointer;}