#toolbar {
  position: absolute;
  height: 16px;
  top: 0;
  left: 300px;
  right: 300px;
  background: @light-blue;
  padding-bottom: @padding-horiz;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: @medium-blue;
}

#toolbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: url(../imgs/openhand.cur), default !important;
}

.mark {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  margin-left: 10px;
  text-indent: -999em;
  background-repeat: no-repeat;
}

.mark:hover { background-color: #ddd; }

#Rect {
  background-image: url(../imgs/rect.png);
  background-position: 50% 50%;
}
#Arc {
  background-image: url(../imgs/arc.png);
  background-position: -5px 3px;
}

#Symbol {
  background-image: url(../imgs/symbol.png);
  background-position: 3px 1px;
}

#Area {
  background-image: url(../imgs/area-2.png);
  background-position: 3px 1px;
}

#Text {
  background-image: url(../imgs/text.png);
  background-position: 50% 50%;
  margin-left: 5px;
}

#Line {
  background-image: url(../imgs/line-2.png);
  background-position: 50% 50%;
}

#canvas {
  position: absolute;
  left: 315px;
  right: 315px;
  top: 40px;
  bottom: 40px;
  overflow: auto;
}

#vis, #ivis {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  border: 1px solid #bbb;
}

#ivis {
  background: transparent;
  border: 0;
}
