#groups-list {
  background: @light-blue;
  border-left: 1px solid @medium-blue;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: @inspector-width;
}

#groups-list ul:first-child { padding-left: 0px; }
#groups-list ul {
  list-style-type: none;
  padding-left: 2*@padding-horiz;
}