#groups {
  position: absolute;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
}

#groups h3 {
  font-size: 14px;
  font-weight: normal;
  padding-left: 20px;
  margin: 5px 10px;
  cursor: pointer;
  background: url(../imgs/spinner-closed.png) 0 1px no-repeat;
  background-size: 12px 12px;
}

#groups h3.expanded {
  background-image: url(../imgs/spinner-open.png);
  background-position: 0 2px;
  font-weight: bold;
}

#groups h4 { 
  clear: both;
  margin: 10px 10px 5px 10px; 
  font-weight: normal;
  border-bottom: 1px solid #777;
}

#groups h4 a.add {
  display: inline-block;
  float: right;
  width: 12px;
  height: 12px;
  background: url(../imgs/add-black.png) no-repeat;
  background-size: 12px;
  text-indent: -999em;
}

#groups li a {
  color: #000;
  text-decoration: none;
}

#groups li h5 { 
  font-weight: normal; 
  cursor: pointer;
}

#groups li.selected h5 { font-weight: bold; }

#groups .scales li {
  padding: 0;
}