.inspectors h2 { margin-bottom: 10px; }

.inspectors li {
  list-style-type: none;
  margin: 5px 10px;
  padding: 5px 10px;
  border: 1px solid #939393;
}

.inspectors li.selected { 
  background: #a4a4a4;
  border: 1px solid #777; 
  border-radius: 5px;
}

.property {
  height: 25px;
  margin-bottom: 5px;
}

.property label {
  float: left;
  width: 50px;
  margin: 3px 10px 0 0;
  font-style: italic;
  text-transform: lowercase;
  text-align: right;
}

.property .field { 
  float: left; 
  width: 170px;
}

.property .field * { margin-top: 0; }
.property .field input[type=text] { width: 125px; }
.property .field input[type=number],
.property .field input[type=color] { width: 50px; }
.property .field .scaled-input {
  height: 15px;
  margin-left: -15px;
  border: 1px solid #888;
  border-radius: 10px;
}

.property .field label {
  width: auto;
  font-style: normal;
}

.property .field a.unbind {
  display: none;
  float: right;
  width: 16px;
  height: 16px;
  background: url(../imgs/remove-black.png) no-repeat;
  background-size: 16px;
  text-indent: -999em;
}

.property:hover .field a.unbind { display: inline-block; }
.property:hover .field a.unbind:hover { 
  background-image: url(../imgs/remove-white.png);
}

.schema-target {
  display: inline-block;
  padding: 3px;
  border: 1px dashed #777;
}

fieldset { 
  margin: 10px 0;
  border: 1px solid #777; 
  border-radius: 5px;
}

legend {
  padding: 0 5px;
  margin-left: 5px;
  font-weight: bold;
  text-transform: lowercase;
}

fieldset#padding .property { 
  float: left; 
  margin-right: 15px;
}

.expr-container {
  background: #fff;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 125px;
  height: 18px;
  padding: 1px 2px;
}

.expr { width: 1000px; }

.expr .schema {
  float: none;
  display: inline-block;
}

#properties .binding, #properties .scale, #properties .schema 
{ cursor: default; }

.inspector h6 { 
  float: left;
  margin-bottom: -1px;
  padding: 0 5px;
  background: #ccc;
  border: 1px solid #777;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333;
  font-weight: bold;   
}

.shelf {
  background: #ccc;
  border: 1px solid #777;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  clear: both;
}

.icons a {
  display: inline-block;
  float: left;
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  text-indent: -999em;
  cursor: pointer;
}