.inspectors h2 { margin-bottom: 10px; }

.inspectors li {
  list-style-type: none;
  margin: 5px 10px;
  padding: 5px 10px;
  border: 1px solid #939393;
}

.inspectors li.selected { 
  background: #a4a4a4;
  border: 1px solid #777 !important; 
  border-radius: 5px;
}

.inspectors li:hover { 
  background-color: #a4a4a4;
  border-color: #a4a4a4; 
  border-radius: 5px;
}

a.add, a.remove, a.edit-vis {
  display: inline-block;
  float: right;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 14px;
  text-indent: -999em;
  opacity: 0.4;
}

a.add { 
  background-image: url(../imgs/add-black.png); 
  margin-top: -3px;
}

h2 a.add { 
  background-image: url(../imgs/add-allwhite.png); 
  margin: 0;
}

a.remove { 
  background-image: url(../imgs/delete-black.png); 
  visibility: hidden;
}
#groups h3:hover a.remove, #groups h5:hover a.remove, #pipelines h3:hover a.remove
{ visibility: visible; }

a.edit-vis { 
  background-image: url(../imgs/pencil-white.png); 
  margin-left: 15px;
}
a.add:hover, a.remove:hover, a.edit-vis:hover { opacity: 1; }

.property {
  margin-bottom: 10px;
  white-space: nowrap;
  border-radius: 10px;
}

.property.available, .property.helper { background: #b5b5b5; }
.property.drophover { background: #ddd; }

.property label {
  float: left;
  width: 50px;
  margin: 3px 10px 0 0;
  font-style: italic;
  text-transform: lowercase;
  text-align: right;
}

.property .field { 
  float: left; 
  width: 170px;
}

.property .field * { margin-top: 0; }
.property .field input[type=text] { width: 125px; }
.property .field input[type=number],
.property .field input[type=color],
.property .field .number { width: 50px !important; }
.property .field .scaled-input {
  height: 15px;
  margin-left: -15px;
  border: 1px solid #888;
  border-radius: 10px;
  float: left;
}

.property .field .disabled-input { 
  background: #999; 
  border: 2px solid #888;
}

.property .field label {
  width: auto;
  font-style: normal;
}

.property a.unbind {
  display: inline-block;
  visibility: hidden;
  width: 16px;
  height: 16px;
  background: url(../imgs/remove-black.png) no-repeat;
  opacity: 0.5;
  background-size: 16px;
  text-indent: -999em;
  margin-left: 5px;
}

.property:hover a.unbind { visibility: visible; }
.property:hover a.unbind:hover { 
  opacity: 1;
}

.schema-target {
  display: inline-block;
  padding: 3px;
  border: 1px dashed #777;
}

fieldset { 
  margin: 0 0 10px 0;
  border: 1px solid #777; 
  border-radius: 5px;
  overflow-x: auto;
}

legend {
  padding: 0 5px;
  margin-left: 5px;
  font-weight: bold;
  text-transform: lowercase;
}

fieldset#padding .property { 
  float: left; 
  margin-right: 15px;
}

.visual-pipeline { margin-left: 10px; }
.visual-pipeline>div { 
  margin: 0 10px 5px 0; 
  border-radius: 5px;
}

.expr-container {
  background: #fff;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 125px;
  height: 18px;
  padding: 1px 2px;

  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.expr { width: 1000px; }

.expr .schema {
  float: none;
  display: inline-block;
}

#properties .binding, #properties .scale, #properties .schema 
{ cursor: default; }

.inspectors li.selected  .binding .empty { 
  background: #a4a4a4; 
  border-color: #a4a4a4;
}

.inspector h6 { 
  color: #333;
  font-weight: bold;   
}

.shelf {
  background: #bbb;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  clear: both;
}

.icons a {
  display: inline-block;
  float: left;
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  text-indent: -999em;
  cursor: pointer;
}

.hint { margin: 10px;}

#binding-inspector {
  display: none;
  width: 250px;
  position: absolute;
}

.text.inspector .icons a { 
  width: 18px;
  height: 20px;
  background-position: 50% 50%;
  opacity: 0.5; 
}
.text.inspector .icons a.selected, .text.inspector .icons a:hover { 
  background-color: #fff;
  opacity: 1; 
}

.text-bold { background: url(../imgs/text_bold.png) no-repeat; }
.text-italic { background: url(../imgs/text_italic.png) no-repeat; }
.text-left-align { background: url(../imgs/text_align_left.png) no-repeat; }
.text-center-align { background: url(../imgs/text_align_center.png) no-repeat; }
.text-right-align { background: url(../imgs/text_align_right.png) no-repeat; }
.text-top-align { background: url(../imgs/text_align_top.png) no-repeat; }
.text-middle-align { background: url(../imgs/text_align_middle.png) no-repeat; }
.text-bottom-align { background: url(../imgs/text_align_bottom.png) no-repeat; }