.inspectors h2 { margin-bottom: 10px; }

.inspectors li {
  list-style-type: none;
  margin: 5px 10px;
  padding: 5px 10px;
  border: 1px solid #939393;
}

.inspectors li.selected { 
  background: #a4a4a4;
  border: 1px solid #777 !important; 
  border-radius: 5px;
}

.inspectors li:hover { 
  background-color: #a4a4a4;
  border-color: #a4a4a4; 
  border-radius: 5px;
}

#groups h4 a.add, #groups h5 a.remove,
#pipelines h3 a.add, #pipelines h3 a.remove {
  display: inline-block;
  float: right;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 14px;
  text-indent: -999em;
}

#groups h4 a.add { 
  background-image: url(../imgs/add-black.png); 
  margin-top: -3px;
}

#groups h4 a.add:hover { background-image: url(../imgs/add-white.png); }
#groups h5 a.remove, #pipelines h3 a.remove { 
  background-image: url(../imgs/delete-black.png); 
  visibility: hidden;
}
#groups h5:hover a.remove, #pipelines h3:hover a.remove 
{ visibility: visible; }

#groups h5:hover a.remove:hover,
#pipelines h3:hover a.remove:hover  
{ background-image: url(../imgs/delete-white.png); }


.property {
  height: 25px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.property label {
  float: left;
  width: 50px;
  margin: 3px 10px 0 0;
  font-style: italic;
  text-transform: lowercase;
  text-align: right;
}

.property .field { 
  float: left; 
  width: 170px;
}

.property .field * { margin-top: 0; }
.property .field input[type=text] { width: 125px; }
.property .field input[type=number],
.property .field input[type=color] { width: 50px; }
.property .field .scaled-input {
  height: 15px;
  margin-left: -15px;
  border: 1px solid #888;
  border-radius: 10px;
}

.property .field .disabled-input { 
  background: #999; 
  border: 2px solid #888;
}

.property .field label {
  width: auto;
  font-style: normal;
}

.property a.unbind {
  display: inline-block;
  visibility: hidden;
  width: 16px;
  height: 16px;
  background: url(../imgs/remove-black.png) no-repeat;
  background-size: 16px;
  text-indent: -999em;
  margin-left: 5px;
}

.property:hover a.unbind { visibility: visible; }
.property:hover a.unbind:hover { 
  background-image: url(../imgs/remove-white.png);
}

.schema-target {
  display: inline-block;
  padding: 3px;
  border: 1px dashed #777;
}

fieldset { 
  margin: 0 0 10px 0;
  border: 1px solid #777; 
  border-radius: 5px;
  overflow-x: auto;
}

legend {
  padding: 0 5px;
  margin-left: 5px;
  font-weight: bold;
  text-transform: lowercase;
}

fieldset#padding .property { 
  float: left; 
  margin-right: 15px;
}

.expr-container {
  background: #fff;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 125px;
  height: 18px;
  padding: 1px 2px;
}

.expr { width: 1000px; }

.expr .schema {
  float: none;
  display: inline-block;
}

#properties .binding, #properties .scale, #properties .schema 
{ cursor: default; }

.inspectors li.selected  .binding .empty { 
  background: #a4a4a4; 
  border-color: #a4a4a4;
}

.inspector h6 { 
  float: left;
  margin-bottom: -1px;
  padding: 0 5px;
  background: #bbb;
  border: 1px solid #888;
  border-bottom: 1px solid #bbb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333;
  font-weight: bold;   
}

.shelf {
  background: #bbb;
  border: 1px solid #888;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  clear: both;
}

.icons a {
  display: inline-block;
  float: left;
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  text-indent: -999em;
  cursor: pointer;
}

.hint { margin: 10px;}

#binding-inspector {
  display: none;
  width: 250px;
  position: absolute;
}