#inspectors {
  position: absolute;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
}

#pipeline, #properties { 
  height: 49%; 
  margin-bottom: 1%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.fullHeight { height: 99% !important; }

.property {
  height: 25px;
  margin-bottom: 5px;
}

.property label {
  float: left;
  width: 50px;
  margin: 3px 10px 0 0;
  font-style: italic;
  text-transform: lowercase;
  text-align: right;
}

.property .field { 
  float: left; 
  width: 180px;
}

.property .field * { margin-top: 0; }
.property .field input[type=text] { width: 125px; }
.property .field input[type=number],
.property .field input[type=color] { width: 50px; }

.property .field label {
  width: auto;
  font-style: normal;
}

.property .field a.unbind {
  display: none;
  float: right;
  width: 16px;
  height: 16px;
  background: url(../imgs/remove-black.png) no-repeat;
  background-size: 16px;
  text-indent: -999em;
}

.property:hover .field a.unbind { display: inline-block; }
.property:hover .field a.unbind:hover { 
  background-image: url(../imgs/remove-white.png);
}

.schema-target {
  display: inline-block;
  padding: 3px;
  border: 1px dashed #666;
}

fieldset { 
  margin-top: 10px;
  border: 1px solid #666; 
}

legend {
  padding: 0 5px;
  margin-left: 5px;
  font-weight: bold;
  text-transform: lowercase;
}

fieldset#padding .property { 
  float: left; 
  margin-right: 15px;
}

.expr-container {
  background: #fff;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 125px;
  height: 18px;
  padding: 1px 2px;
}

.expr { width: 1000px; }

.expr .schema {
  float: none;
  display: inline-block;
}

#properties .binding, #properties .scale, #properties .schema 
{ cursor: default; }