#pipelines {
  position: absolute;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.pipeline h3 {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

.pipeline.selected h3 { 
  font-size: 12px;
  font-weight: bold; 
  margin-bottom: 10px;
}

#add-data-dialog {
  position: absolute;
  top: 40px;
  left: 265px;
}

#add-data-dialog .bubble { width: 255px; }

.bubble h4 { margin: 0 0 5px 10px }

.bubble input[type=submit] { margin-left: 10px; }

.pipeline .inspector li {
  list-style-type: none;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  border: 0;
  border-bottom: 1px solid #888;
}

.pipeline li.icon { padding-left: 25px; }
.pipeline-name { background: url(../imgs/pipeline.png) no-repeat;}
.add-data { background: url(../imgs/table_add.png) no-repeat; }
.import-data { background: url(../imgs/table_import.png) no-repeat; }
.transform-filter { background: url(../imgs/filter.png) no-repeat; }
.transform-sort { background: url(../imgs/sort.png) no-repeat; }
.transform-formula { background: url(../imgs/formula.png) -6px -1px no-repeat; }
.transform-facet { background: url(../imgs/categories.png) no-repeat; }
.transform-pie { background: url(../imgs/pie.png) no-repeat; }
.transform-stack { 
  background: url(../imgs/stack.png) no-repeat; 
  background-size: 16px;
}
.transform-wordcloud { background: url(../imgs/tag_cloud.png) no-repeat; }

.pipeline .datatable {
  width: 100%;
  font-size: 11px;
  margin-bottom: 25px;
}

.dataTables_info { margin-top: 5px;}

.dataTables_scrollHead thead th {
  /*display: inline-block;*/
  padding: 3px 5px 3px 5px !important;
  border: 1px solid #000;
}

.pipeline .datatable td { padding: 5px !important; }
.dataTables_scroll td {
  background: #fff;
  border-left: 2px solid silver;
  border-bottom: 1px dotted silver;
}

.DTFC_LeftBodyWrapper td {
  background: #ccc;
  border: 1px solid #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: url(../imgs/openhand.cur), default !important;
}

#pipelines #scales .binding { margin: 5px 0; }

#pipelines #scales .binding .empty { 
  background: #bbb; 
  border-color: #bbb;
}

.pipeline-ctrls {
  display: inline-block;
  float: right; 
}

.pipeline-ctrls a { margin: 0 0 0 5px;}

.pipeline ul:first-of-type li .pipeline-ctrls { visibility: hidden; }
.pipeline ul:first-of-type li:hover .pipeline-ctrls { visibility: visible; }

.pipeline-ctrls a { margin-left: 5px; }

.pipeline-ctrls a:hover { opacity: 1; }
.pipeline-ctrls .accept { 
  background: url(../imgs/accept.png) no-repeat; 
  opacity: 0.6;
}
.pipeline-ctrls .delete { 
  background: url(../imgs/delete.png) no-repeat; 
  opacity: 0.4;
}

.pipeline-ctrls .preview {
  background: url(../imgs/preview.png) no-repeat; 
  opacity: 0.6;
}

.preview-transform {
  position: absolute;
  right: -245px;
  width: 250px;
  z-index: 10000;
}

.pipeline .preview-transform .slickgrid { 
  width: 300px; 
  margin: 0;
}

.pipeline .property .field { width: 150px !important;}