#add-data {
  display: inline-block;
  float: right;
  width: 16px;
  height: 16px;
  background-size: 16px;
  text-indent: -999em;
  cursor: pointer;
}

#add-data-dialog {
  position: absolute;
  top: 40px;
  left: 265px;
}

#add-data-dialog .bubble { width: 200px; }

.bubble h4 { margin: 0 0 5px 10px }

.bubble input[type=submit] { margin-left: 10px; }

#pipeline li {
  list-style-type: none;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
}

#pipeline li.icon { padding-left: 25px; }
.add-data { background: url(../imgs/table_add.png) no-repeat; }
.import-data { background: url(../imgs/table_import.png) no-repeat; }

#pipeline .slickgrid {
  width: 100%;
  height: 175px;
  font-size: 11px;
}