#pipelines {
  position: absolute;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

#pipelines>ul { margin-top: 40px; }

.pipeline h3 {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

.pipeline.selected h3 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bubble h4 { margin: 0 0 5px 10px }

.bubble input[type=submit] { margin-left: 10px; }

.pipeline .inspector li {
  list-style-type: none;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  border: 0;
  border-bottom: 1px solid #888;
}

/*.pipeline li.icon { padding-left: 25px; }*/
li.icon span.header { padding-left: 25px; }
.pipeline-name { background: url(../imgs/pipeline.png) no-repeat;}
.add-data { background: url(../imgs/table_add.png) no-repeat; }
.import-data { background: url(../imgs/table_import.png) no-repeat; }
.transform-filter { background: url(../imgs/filter.png) no-repeat; }
.transform-sort { background: url(../imgs/sort.png) no-repeat; }
.transform-formula { background: url(../imgs/formula.png) -6px -1px no-repeat; }
.transform-facet { background: url(../imgs/categories.png) no-repeat; }
.transform-pie { background: url(../imgs/pie.png) no-repeat; }
.transform-stack {
  background: url(../imgs/stack.png) no-repeat;
  background-size: 16px;
}
.transform-wordcloud { background: url(../imgs/tag_cloud.png) no-repeat; }
.transform-geo { background: url(../imgs/geo.png) no-repeat; }
.transform-force { background: url(../imgs/force.png) no-repeat; }

.pipeline .datatable {
  width: 100%;
  font-size: 11px;
  margin-bottom: 25px;
}

.dataTables_info {
  margin-top: 5px;
  color: #444;
}

.dataTables_scrollHead thead th {
  /*display: inline-block;*/
  padding: 3px 5px 3px 5px !important;
  border: 1px solid #000;
}

.pipeline .datatable td { padding: 5px !important; }
.dataTables_scroll td {
  background: #fff;
  border-left: 2px solid silver;
  border-bottom: 1px dotted silver;
}

.DTFC_LeftBodyWrapper td {
  background: #ccc;
  border: 1px solid #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: url(../imgs/openhand.cur), default !important;
}

.paginate_enabled_previous {
  background: url('../imgs/previous-black.png') no-repeat !important;
  background-size: 14px !important;
  margin-top: 5px;
  padding-left: 15px !important;
  opacity: 0.4;
}
.paginate_enabled_previous:hover { opacity: 1; }
.paginate_disabled_previous {
  padding-right: 15px !important;
  visibility: hidden;
}

.paginate_enabled_next {
  background: url('../imgs/next-black.png') no-repeat !important;
  background-size: 14px !important;
  margin-top: 5px;
  padding-right: 15px !important;
  opacity: 0.4;
}
.paginate_enabled_next:hover { opacity: 1; }
.paginate_disabled_next {
  visibility: hidden;
  padding-right: 0 !important;
  padding-left: 15px !important;
}

#datasheet {
  border-bottom: 1px solid #888;
  margin-bottom: 10px;
}

#datasheet .tabs {
  width: 100%;
  overflow: hidden;
}

#datasheet .tabs ul {
  width: 9999px;
  margin-bottom: 5px;
  border-bottom: 1px solid #888;
  overflow: auto;
}

#datasheet .tabs li {
  display: inline-block;
  border: 0;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 0.5em 0 0;
  padding: 3px 5px;
}

#datasheet .tabs li a { text-decoration: none; }

#datasheet .tabs li.selected {
  background: #bbb;
  border: 1px solid #888 !important;
  border-bottom: 1px solid #a4a4a4 !important;
  font-weight: bold;
}

#datasheet .tabs li:hover { background: #bbb; }

#pipelines #scales .binding { margin: 5px 0; }

#pipelines #scales .binding .empty {
  background: #bbb;
  border-color: #bbb;
}

.pipeline-ctrls {
  display: inline-block;
  float: right;
}

.pipeline-ctrls a { margin: 0 0 0 5px;}

.pipeline ul:first-of-type li .pipeline-ctrls { visibility: hidden; }
.pipeline ul:first-of-type li:hover .pipeline-ctrls,
.pipeline ul:first-of-type li:hover .pipeline-ctrls a.remove { visibility: visible; }

.pipeline-ctrls a { margin-left: 5px; }

.pipeline-ctrls a:hover { opacity: 1; }
.pipeline-ctrls .accept {
  background: url(../imgs/accept.png) no-repeat;
  opacity: 0.6;
}
.pipeline-ctrls .delete {
  background: url(../imgs/delete.png) no-repeat;
  opacity: 0.4;
}

.pipeline-ctrls .preview {
  background: url(../imgs/preview-black.png) no-repeat;
  opacity: 0.6;
  background-size: 20px auto;
  background-position: 50%;
  width: 20px;
}

#preview-transform {
  position: absolute;
  z-index: 10000;
}

#preview-transform .datatable {
  width: 300px;
  margin: 0;
}

.pipeline .property .field { width: 150px !important;}

.pipeline .addScale { margin-top: -1px;}

#new-data {
  position: absolute;
  width: 250px;
  max-height: 400px;
  left: 140px;
}

#new-data fieldset.parsings {
  max-height: 300px;
  overflow: auto;
}

#domainType p>span {
  float: left;
  margin-right: 5px;
}
