.popover {
  min-width: 150px !important;
  max-width: 265px !important;
  font-size: 12px;
  padding-bottom: 10px !important;
  z-index: 99 !important;
}

.popover .inner {
  min-height: 20px !important;
  max-height: 400px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.popover.left-top .arrow, .popover.right-top .arrow {
  bottom: 18px !important;
  top: auto !important;
}

.popover.left-bottom .arrow, .popover.right-bottom .arrow {
  top: 18px !important;
  bottom: auto !important;
}

.popover.bottom-left .arrow, .popover.top-left .arrow {
  left: 30px !important;
}

.popover.bottom-right .arrow, .popover.top-right .arrow {
  left: 155px !important;
}

.popover h3 {
  margin-bottom: @padding-horiz !important;
}

.popover .property.third {
  width: 60px;
}

#inferred-popover .inner {
  padding: 10px 10px 0 10px;
}

#scale-popover, #aggregate-popover {
  display: none;
}

#scale-popover {
  width: 265px;
}

#file-open-popover, #file-save-popover, #export-popover {
  top: auto;
  bottom: 40px;
}

#file-open-popover {
  left: 416px;
}

#file-save-popover {
  left: 440px;
}

#export-popover {
  left: 440px;
}

#export-popover h3 {
  margin-bottom: 0 !important;
}

#data-popover {
  left: 20px;
  min-width: 225px !important;
  .property.half {
    width: 90px;
    select {
      width: 80px;
    }
  }
  textarea {
    height: 100px;
  }
}

#file-save-popover {
  p {
    clear: both;
    padding-top: @padding-horiz / 2;
  }
}

#export-popover {
  .btn {
    text-decoration: none;
    margin-bottom: 5px;
  }
}

.yellow-fade {
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}

.yellow-fade-start {
  background-color: #ffffb3;
}

.yellow-fade-end {
  background-color: #ffffff;
}

@-webkit-keyframes target-fade {
  0% {
    .yellow-fade-start {}
  }
  100% {
    .yellow-fade-end {}
  }
}

@-moz-keyframes target-fade {
  0% {
    .yellow-fade-start {}
  }
  100% {
    .yellow-fade-end {}
  }
}
