@import 'http://idl.cs.washington.edu/static/style/fonts.css';
@import 'reset.css';
body {
  font-family: Avenir, Helvetica Neue, Helvetica, Arial;
}
h3 {
  display: block;
  height: 30px;
  padding: 10px 10px;
  font-weight: 600;
}
#pipelines-list {
  background-color: #d3d9e1;
  border-left: 1px solid #7b8b9d;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
}
