@import 'http://idl.cs.washington.edu/static/style/fonts.css';
@import 'reset.css';
body {
  font-family: Avenir, Helvetica Neue, Helvetica, Arial;
  background: #eee;
}
h2 {
  padding: 5px 10px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  background: #8e9dac;
  margin-bottom: 20px;
}
h3 {
  display: block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
}
h3 span {
  display: inline-block;
  width: 245px;
  cursor: pointer;
}
h3 a.delete {
  visibility: hidden;
}
.clickable {
  cursor: pointer;
}
h3 span:focus,
.editVal:focus {
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  background-color: white !important;
  border: 1px solid darkgray !important;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  padding: 5px;
}
h3.selected {
  background-color: #a3b3bf;
  border: 1px solid #a3b3bf;
}
h3.selected a.delete {
  visibility: visible;
}
h3:hover span:hover {
  color: #666;
}
h3:hover a.delete {
  visibility: visible;
}
h3.selected:hover {
  color: #000;
}
.heading {
  display: block;
  padding: 7px 10px;
  margin: 10px 0;
  background: #c1c6ce;
  font-size: 14px;
}
.heading select,
.heading input {
  margin: 0;
}
.heading .close {
  margin-top: -3px;
}
.subheading {
  font-size: 12px;
  font-weight: 500;
  color: #8e9dac;
  text-transform: uppercase;
  margin: 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #8e9dac;
  clear: both;
}
h4 {
  font-size: 12px;
  font-weight: 500;
  color: #8e9dac;
  text-transform: uppercase;
  margin: 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #8e9dac;
  clear: both;
}
h5 {
  font-size: 12px;
  font-weight: 500;
  color: #8e9dac;
  text-transform: uppercase;
  margin: 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #8e9dac;
  clear: both;
  border-bottom: 0;
  font-size: 10px;
  padding-left: 10px;
  margin: 5px 0;
}
h5 .close {
  color: #8e9dac;
  opacity: 0.7;
  margin: -4px 10px 0 0;
}
.addNew {
  display: block;
  margin: 20px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #8e9dac;
}
.addNew:hover {
  color: #333;
}
.inner {
  padding: 0 10px;
}
.scale-values {
  margin-top: -12px;
}
.scale-values div.block {
  display: block;
  line-height: 23px;
}
.scale-values div.block input[type=color] {
  height: 23px;
}
.scale-values .unbind {
  display: inline-block;
  width: 14px;
  height: 14px;
  text-indent: -9999em;
  margin: 3px;
}
.canDropField {
  display: inline-block;
  width: 14px;
  height: 14px;
  text-indent: -9999em;
  opacity: 0.5;
  background: #A3B3BF;
  border-radius: 14px;
}
.canDropField.left {
  float: left;
}
.canDropField.right {
  float: right;
}
.canDropField.dragging,
.helper .canDropField {
  background: cyan;
  opacity: 0.3;
}
.drophover .canDropField {
  background: lightsalmon;
  opacity: 0.5;
}
.canDropField.unbind,
.scale-values .unbind {
  background-color: transparent;
  background-image: url(../imgs/remove-black.png);
  background-size: 14px;
  cursor: pointer;
}
.canDropField.unbind:hover,
.scale-values .unbind:hover {
  background-color: transparent;
  background-image: url(../imgs/remove-white.png);
}
h3.editable-header span.title,
#groups-list h3.editable-header span.title {
  width: auto;
}
h3.editable-header span.title[contenteditable=true],
#groups-list h3.editable-header span.title[contenteditable=true] {
  margin: -6px;
}
h3.editable-header .rename,
#groups-list h3.editable-header .rename {
  display: inline-block;
  visibility: hidden;
  width: 12px;
  height: 12px;
  cursor: pointer;
  text-indent: -999em;
  color: transparent;
  padding: 3px;
}
h3.editable-header:hover .rename,
#groups-list h3.editable-header:hover .rename {
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center center;
  background-image: url(../imgs/pencil-black-left.png);
  opacity: 0.5;
}
h3.editable-header:hover .rename:hover,
#groups-list h3.editable-header:hover .rename:hover {
  opacity: 1;
}
.inspector {
  border-bottom: 1px solid #a3b3bf;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
a.add {
  background-image: url(../imgs/add-black.png);
  margin: 3px;
  display: inline-block;
  width: 14px;
  height: 14px;
  text-indent: -9999em;
  background-size: 14px;
}
a.add:hover {
  background-color: transparent;
  background-image: url(../imgs/add-white.png);
}
.property {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
.property div {
  display: inline-block;
}
.property div.field,
.property div.transclude {
  display: block;
}
.property label {
  font-style: italic;
}
.property label.option {
  margin-right: 10px;
}
.property a.unbind {
  display: inline-block;
  visibility: hidden;
  width: 16px;
  height: 16px;
  background: url(../imgs/remove-black.png) no-repeat;
  opacity: 0.5;
  background-size: 16px;
  text-indent: -999em;
  margin-left: 5px;
}
.property input[type=checkbox],
.property input[type=radio] {
  width: auto !important;
}
.property .addNew {
  margin: 5px 0 0 0;
  padding: 0 !important;
  text-align: left;
}
.property .scaled-input {
  position: relative;
  height: 13px;
  max-width: 80px;
  margin: -11px 0 0 -20px;
  padding-left: 5px;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
}
.property .binding-draggable {
  margin-top: 5px;
}
.property:hover a.unbind {
  visibility: visible;
}
.property:hover a.unbind:hover {
  opacity: 1;
}
.property.full label {
  float: left;
  width: 50px;
  margin: 4px 10px 0 0;
}
.property.full .field {
  overflow: hidden;
}
.property.full .canDropField {
  margin-top: 4px;
}
.property.full .canDropField.right {
  margin-left: 10px;
}
.property.full .canDropField.left {
  margin-right: 10px;
}
.property.full input {
  width: 97%;
  float: left;
}
.property.full input[type=range] {
  width: 125px;
}
.property.full input[type=color] {
  float: left;
  width: 50px;
}
.property.full input.color-property {
  width: 30px;
  text-indent: -9999px;
  border: 3px solid white;
  box-shadow: 0px 0px 1px 2px #cccccc, 0 0 0 1px #e6e6e6;
  margin-left: 2px;
}
.property.full input.fontSize {
  width: 40px;
}
.property.full span.editVal {
  padding: 5px;
  margin-left: 10px;
  border-bottom: 1px dashed #a3b3bf;
  line-height: 22px;
  padding-bottom: 2px;
}
.property.full span.hint {
  display: inline-block;
  margin: 2px 0 0 4px;
}
.property.full .scale-values {
  width: 50%;
  float: none;
}
.property.half {
  float: left;
  width: 130px;
}
.property.half .canDropField {
  margin: 0 5px 3px 0;
}
.property.half div.field {
  clear: both;
}
.property.half input,
.property.half select {
  width: 110px;
}
.property.half-float {
  float: left;
  width: 130px;
}
.property.half-float .canDropField {
  margin: 0 5px 3px 0;
}
.property.half-float div.field {
  clear: both;
}
.property.half-float input,
.property.half-float select {
  width: 110px;
}
.property.half-float div.field {
  clear: none;
  float: left;
}
.property.half-float label {
  float: left;
  margin: 6px 10px 0 0;
}
.property.half-float input,
.property.half-float select {
  width: 50px;
}
.property.half.property-extents .canDropField {
  margin: 3px 3px 0 0;
}
.property.half.property-extents select {
  width: auto;
}
.property.full.property-imgfill .canDropField {
  margin-right: 3px;
}
.property.full.property-imgfill select {
  float: left;
  margin-right: 5px;
}
.property.third {
  float: left;
  width: 130px;
  width: 85px;
}
.property.third .canDropField {
  margin: 0 5px 3px 0;
}
.property.third div.field {
  clear: both;
}
.property.third input,
.property.third select {
  width: 110px;
}
.property.third input,
.property.third select {
  width: 70px;
}
.expr-container {
  display: block !important;
  background: #fff;
  border: 1px solid #aaa;
  overflow: hidden;
  height: 12px;
  padding: 3px;
  width: 195px;
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.expr-container .canDropField {
  margin: 0 !important;
}
.expr-container .schema {
  float: none;
  display: inline-block;
  position: relative;
  cursor: default !important;
}
.expr-container .expr {
  position: relative;
}
.colorpicker.dropdown {
  background-color: white;
}
.colorpicker.dropdown .dropdown-menu {
  min-width: 120px;
}
.colorpicker.dropdown .colorpicker-preview {
  height: 0px;
}
.colorpicker.dropdown .close {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.8;
}
.icon-baseline-top {
  background: url(../imgs/text_align_top.png) !important;
}
.icon-baseline-middle {
  background: url(../imgs/text_align_middle.png) !important;
}
.icon-baseline-bottom {
  background: url(../imgs/text_align_bottom.png) !important;
}
.binding,
.binding .scale,
.schema,
.binding .empty {
  float: left;
  border-radius: 10px;
  font-size: 11px;
  cursor: url(../imgs/openhand.cur), default !important;
}
.binding {
  background: #a9a9a9;
  border-left: 1px solid #a9a9a9;
  color: #333;
  position: relative;
}
.binding .scale {
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  padding: 2px 5px;
  min-width: 14px;
}
.binding .empty {
  padding: 2px 5px;
  background: #d5dbe1;
  border: 1px solid #d5dbe1;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.binding .editScale {
  display: inline-block;
  position: absolute;
  visibility: hidden;
  width: 12px;
  height: 12px;
  cursor: pointer;
  text-indent: -999em;
  color: transparent;
  left: 5px;
}
.editBinding {
  display: inline-block;
  position: absolute;
  visibility: hidden;
  width: 12px;
  height: 12px;
  cursor: pointer;
  text-indent: -999em;
  color: transparent;
}
.editBindingHover {
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 12px;
}
.binding:hover {
  background-color: #bcbcbc;
  border-left: 1px solid #bcbcbc;
}
.binding:hover .scale {
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
}
.binding:hover .editScale {
  visibility: visible;
  background-repeat: no-repeat;
  background-size: 12px;
  background-color: #bcbcbc;
  background-image: url(../imgs/pencil-black.png);
  padding-right: 5px;
}
.schema {
  padding: 3px 5px;
  color: #333;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schema .aggregate {
  display: inline-block;
  position: absolute;
  visibility: hidden;
  width: 12px;
  height: 12px;
  cursor: pointer;
  text-indent: -999em;
  color: transparent;
  right: 0;
}
.schema:hover .aggregate {
  visibility: visible;
  background-image: url(../imgs/spinner-open.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 2px 1px;
  padding-left: 5px;
}
.schema.raw,
.DTFC_LeftBodyWrapper td.raw {
  background: #bed9ab;
  border-color: #8ca17c;
}
.schema.raw:hover,
.binding:hover .schema.raw,
.DTFC_LeftBodyWrapper td.raw:hover {
  background: #d2e7c3;
}
.schema.raw:hover .aggregate,
.binding:hover .schema.raw .aggregate,
.DTFC_LeftBodyWrapper td.raw:hover .aggregate {
  background-color: #d2e7c3;
}
.schema.derived,
.DTFC_LeftBodyWrapper td.derived {
  background: #efe8af;
  border-color: #d1bf94;
}
.schema.derived:hover,
.binding:hover .schema.derived,
.DTFC_LeftBodyWrapper td.derived:hover {
  background: #f5f1cc;
}
.schema.derived:hover .aggregate,
.binding:hover .schema.derived .aggregate,
.DTFC_LeftBodyWrapper td.derived:hover .aggregate {
  background-color: #f5f1cc;
}
#pipelines-list {
  background-color: #d5dbe1;
  border-right: 1px solid #a3b3bf;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.newScale {
  float: right;
  opacity: 0.5;
  cursor: pointer;
}
.newScale:hover {
  font-weight: 600;
  opacity: 1;
}
#pipelines-list .binding {
  margin-bottom: 10px;
}
.existing-transforms .aggregate {
  visibility: hidden !important;
}
.pipeline .datatable .table {
  margin: 10px;
  width: 280px;
  font-size: 11px;
}
.dataTables_info {
  margin-top: 5px;
  color: #444;
}
.dataTables_scrollHead thead th {
  /*display: inline-block;*/
  padding: 3px 5px 3px 5px !important;
  border: 1px solid #000;
}
.pipeline .datatable td {
  padding: 5px !important;
}
.dataTables_scroll td {
  background: #fff;
  border-left: 2px solid silver;
  border-bottom: 1px dotted silver;
}
.DTFC_LeftBodyWrapper td {
  background: #ccc;
  border: 1px solid #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: url(../imgs/openhand.cur), default !important;
}
.paginate_enabled_previous {
  background: url('../imgs/previous-black.png') no-repeat !important;
  background-size: 14px !important;
  margin-top: 5px;
  padding-left: 15px !important;
  opacity: 0.4;
}
.paginate_enabled_previous:hover {
  opacity: 1;
}
.paginate_disabled_previous {
  padding-right: 15px !important;
  visibility: hidden;
}
.paginate_enabled_next {
  background: url('../imgs/next-black.png') no-repeat !important;
  background-size: 14px !important;
  margin-top: 5px;
  padding-right: 15px !important;
  opacity: 0.4;
}
.paginate_enabled_next:hover {
  opacity: 1;
}
.paginate_disabled_next {
  visibility: hidden;
  padding-right: 0 !important;
  padding-left: 15px !important;
}
#datasheet .tabs {
  float: right;
  width: 225px;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
}
#datasheet .tabs li {
  display: inline-block;
  border: 0;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 0.5em 0 0;
  padding: 3px 5px;
}
#datasheet .tabs li a {
  color: #000;
  text-decoration: none;
}
#datasheet .tabs li.selected {
  background: #d5dbe1;
  border-bottom: 5px solid #d5dbe1 !important;
  font-weight: 600;
}
#datasheet .tabs li:hover {
  background: #d5dbe1;
  border-radius: 5px;
}
#groups-list {
  background: #d5dbe1;
  border-left: 1px solid #a3b3bf;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
#groups-list ul {
  list-style-type: none;
}
#groups-list li li h3,
#groups-list li li h5 {
  padding-left: 22.5px;
}
#groups-list li li li h3,
#groups-list li li li h5 {
  padding-left: 37.5px;
}
#groups-list li li li li h3,
#groups-list li li li li h5 {
  padding-left: 52.5px;
}
#groups-list .spinner {
  font-size: 14px;
  width: 16px;
  opacity: 0.5;
}
#groups-list h3 span.title {
  width: 195px;
}
#groups-list h3 span.spinner-expanded {
  cursor: default;
}
#groups-list h3:hover span.spinner-expanded:hover {
  color: #000 !important;
}
#groups-list h2,
#groups-list h3 span.spinner-contracted {
  cursor: pointer;
}
.mark {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  margin-left: 10px;
  text-indent: -999em;
  background-repeat: no-repeat;
}
.toolbar {
  position: absolute;
  height: 16px;
  left: 315px;
  background: #d5dbe1;
  padding-bottom: 10px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #a3b3bf;
}
.toolbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.toolbar ul li {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  margin-left: 10px;
  text-indent: -999em;
  background-repeat: no-repeat;
}
.toolbar li:hover {
  background-color: #eee;
}
.toolbar #marks {
  float: left;
  padding-right: 10px;
  cursor: url(../imgs/openhand.cur), default !important;
}
.toolbar .timeline {
  float: left;
  padding-right: 10px;
  border-right: 1px solid #a3b3bf;
  cursor: pointer;
  opacity: 0.8;
}
.toolbar .timeline .timeline-disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.toolbar .timeline:last-child {
  border-right: 0;
}
#palette {
  position: absolute;
  height: 16px;
  left: 315px;
  background: #d5dbe1;
  padding-bottom: 10px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #a3b3bf;
  top: 0;
}
#palette ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#palette ul li {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  margin-left: 10px;
  text-indent: -999em;
  background-repeat: no-repeat;
}
#palette li:hover {
  background-color: #eee;
}
#palette #marks {
  float: left;
  padding-right: 10px;
  cursor: url(../imgs/openhand.cur), default !important;
}
#palette .timeline {
  float: left;
  padding-right: 10px;
  border-right: 1px solid #a3b3bf;
  cursor: pointer;
  opacity: 0.8;
}
#palette .timeline .timeline-disabled {
  opacity: 0.4;
  cursor: no-drop;
}
#palette .timeline:last-child {
  border-right: 0;
}
#utils {
  position: absolute;
  height: 16px;
  left: 315px;
  background: #d5dbe1;
  padding-bottom: 10px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #a3b3bf;
  bottom: 0;
  border-width: 1px 1px 0 1px;
}
#utils ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#utils ul li {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  margin-left: 10px;
  text-indent: -999em;
  background-repeat: no-repeat;
}
#utils li:hover {
  background-color: #eee;
}
#utils #marks {
  float: left;
  padding-right: 10px;
  cursor: url(../imgs/openhand.cur), default !important;
}
#utils .timeline {
  float: left;
  padding-right: 10px;
  border-right: 1px solid #a3b3bf;
  cursor: pointer;
  opacity: 0.8;
}
#utils .timeline .timeline-disabled {
  opacity: 0.4;
  cursor: no-drop;
}
#utils .timeline:last-child {
  border-right: 0;
}
#Rect {
  background-image: url(../imgs/rect.png);
  background-position: 50% 50%;
}
#Arc {
  background-image: url(../imgs/arc.png);
  background-position: -5px 3px;
}
#Symbol {
  background-image: url(../imgs/symbol.png);
  background-position: 3px 1px;
}
#Area {
  background-image: url(../imgs/area-2.png);
  background-position: 3px 1px;
}
#Text {
  background-image: url(../imgs/text.png);
  background-position: 50% 50%;
  margin-left: 5px;
}
#Line {
  background-image: url(../imgs/line-2.png);
  background-position: 50% 50%;
}
#undo {
  background: transparent url(../imgs/undo.png) no-repeat 50% 50%;
}
#redo {
  background: transparent url(../imgs/redo.png) no-repeat 50% 50%;
}
#open {
  background: transparent url(../imgs/open.png) no-repeat 50% 50%;
}
#save {
  background: transparent url(../imgs/save.png) no-repeat 50% 50%;
}
#share {
  background: transparent url(../imgs/share.png) no-repeat 50% 50%;
}
#logo {
  display: block;
  float: left;
  height: 16px;
  background: #a3b3bf url(../imgs/logo.png) no-repeat;
  background-size: 22px;
  background-position: 1px 1px;
  padding: 8px 10px 2px 25px;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}
#logo sup {
  text-transform: none;
  vertical-align: super;
  font-size: 8px;
  color: #666;
}
#logo:hover {
  background-color: #8e9dac;
}
#canvas {
  position: absolute;
  left: 315px;
  right: 315px;
  top: 40px;
  bottom: 40px;
  overflow: auto;
}
#vis,
#ivis {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  border: 1px solid #bbb;
}
#ivis {
  background: transparent;
  border: 0;
}
#transform-force-pin {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../imgs/pin.png);
  margin-left: 10px;
}
#transform-force-pin.pinned {
  background: url(../imgs/pin-pushed.png);
}
svg.marks,
canvas.vega_hidden {
  display: none;
}
.popover {
  min-width: 150px !important;
  max-width: 265px !important;
  font-size: 12px;
  padding-bottom: 10px !important;
  z-index: 99 !important;
}
.popover .inner {
  min-height: 20px !important;
  max-height: 400px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.popover.left-top .arrow,
.popover.right-top .arrow {
  bottom: 18px !important;
  top: auto !important;
}
.popover.left-bottom .arrow,
.popover.right-bottom .arrow {
  top: 18px !important;
  bottom: auto !important;
}
.popover.bottom-left .arrow,
.popover.top-left .arrow {
  left: 30px !important;
}
.popover.bottom-right .arrow,
.popover.top-right .arrow {
  left: 155px !important;
}
.popover h3 {
  margin-bottom: 10px !important;
}
.popover .property.third {
  width: 60px;
}
#inferred-popover .inner {
  padding: 10px 10px 0 10px;
}
#scale-popover,
#aggregate-popover {
  display: none;
}
#scale-popover {
  width: 265px;
}
#file-open-popover,
#file-save-popover,
#export-popover {
  top: auto;
  bottom: 40px;
}
#file-open-popover {
  left: 360px;
}
#file-save-popover {
  left: 385px;
}
#export-popover {
  left: 387px;
}
#export-popover h3 {
  margin-bottom: 0 !important;
}
#data-popover {
  left: 20px;
  min-width: 225px !important;
}
#data-popover .property.half {
  width: 90px;
}
#data-popover .property.half select {
  width: 80px;
}
#data-popover textarea {
  height: 100px;
}
#file-save-popover p {
  clear: both;
  padding-top: 5px;
}
#export-popover .btn {
  text-decoration: none;
  margin-bottom: 5px;
}
.yellow-fade {
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}
.yellow-fade-start {
  background-color: #ffffb3;
}
.yellow-fade-end {
  background-color: #ffffff;
}
@-webkit-keyframes target-fade {
  0% {
    background-color: #ffffb3;
  }
  100% {
    background-color: #ffffff;
  }
}
@-moz-keyframes target-fade {
  0% {
    background-color: #ffffb3;
  }
  100% {
    background-color: #ffffff;
  }
}
