<div>
  <span class="header">Extend</span>

  <vde-property label="Formula" type="expr" item="transform" property="expr" ng-model="transform.properties.exprHtml"></vde-property>

  <vde-property label="As" type="text" item="transform" property="field" ng-model="transform.properties.field" nodrop="1"></vde-property>

  <div ng-show="transform.pipeline().forkName">
    <vde-property label="Output" nodrop="1" transclude="1">
      <vde-binding field="transform.output.field"></vde-binding>
    </vde-property>
  </div>
</div>
