<div>
  Pie Chart

  <vde-pipeline-ctrls></vde-pipeline-ctrls>

	<vde-property label="Angles" type="field" item="transform" property="value" ng-model="transform.properties.value" field="transform.properties.value"></vde-property>

	<vde-property label="Sort" type="checkbox" item="transform" property="sort" ng-model="transform.properties.sort"></vde-property>

	<vde-property label="Output">
		<vde-binding field="'startAngle'" draggable="1"></vde-binding>
		<vde-binding field="'endAngle'" draggable="1"></vde-binding>
	</vde-property>

</div>