<h4>Pie Chart</h4>

<vde-property label="Angles" type="field" item="transform" property="value" 
              ng-model="transform.properties.value" can-drop-style="left"
              field="transform.properties.value" style="half"></vde-property>

<vde-property label="Sort" type="checkbox" item="transform" property="sort" 
              ng-model="transform.properties.sort" style="half"></vde-property>

<br clear="all" />

<vde-property label="Output" style="full" ng-if="transform.pipelineName">
  <vde-binding field="transform.output.startAngle" draggable="1"></vde-binding>
  <vde-binding field="transform.output.endAngle" draggable="1"></vde-binding>
</vde-property>