<div>
  <span class="header">Pie Chart</span>


	<vde-property label="Angles" type="field" item="transform" property="value" ng-model="transform.properties.value" field="transform.properties.value"></vde-property>

	<vde-property label="Sort" type="checkbox" item="transform" property="sort" ng-model="transform.properties.sort"></vde-property>

	<vde-property label="Output" ng-if="transform.pipelineName">
		<vde-binding field="transform.output.startAngle" draggable="1"></vde-binding>
		<vde-binding field="transform.output.endAngle" draggable="1"></vde-binding>
	</vde-property>

</div>
