<div ng-init="offsets=['zero', 'silhouette', 'wiggle', 'expand']; order=['default', 'reverse', 'inside-out'];">
  <h4>Position</h4>

  <vde-property label="X" type="field" item="transform" property="point" ng-model="transform.properties.point" field="transform.properties.point" can-drop-style="left" style="half"></vde-property>

  <vde-property label="Y/Height" type="field" item="transform" property="height" ng-model="transform.properties.height" field="transform.properties.height" can-drop-style="left" style="half"></vde-property>

  <br clear="all" />

  <h4>Layers</h4>

  <vde-property label="Baseline Offset" type="select" options="offsets" item="transform" property="offset" ng-model="transform.properties.offset" nodrop="1" style="half"></vde-property>

  <vde-property label="Order" type="select" options="order" item="transform" property="order" ng-model="transform.properties.order" nodrop="1" style="half"></vde-property>

  <br clear="all" />

  <div ng-show="transform.properties.height"><vde-property label="Output" nodrop="1">
		<vde-binding scale="transform.scale" field="transform.output.y" draggable="1"></vde-binding>
		<vde-binding scale="transform.scale" field="transform.output.y2" draggable="1"></vde-binding>
	</vde-property></div>

</div>
