<div>
  Stack

  <vde-pipeline-ctrls></vde-pipeline-ctrls>

  <vde-property label="Points" type="field" item="transform" property="point" ng-model="transform.properties.point" field="transform.properties.point"></vde-property>

  <vde-property label="Height" type="field" item="transform" property="height" ng-model="transform.properties.height" field="transform.properties.height"></vde-property>

  <vde-property label="Output" ng-if="transform.pipelineName">
		<vde-binding scale="transform.scale" field="'y'" draggable="1"></vde-binding>
		<vde-binding scale="transform.scale" field="'y2'" draggable="1"></vde-binding>
	</vde-property>
	
</div>