<div id="aggregate-popover" class="popover fade bottom in">
  <div class="arrow"></div>

  <h3 class="popover-title">Aggregate <a class="close" ng-click="editBinding($event, 'field')">×</a></h3>

  <div class="inner" ng-init="stats = ['count', 'min', 'max', 'sum', 'mean', 'variance', 'stdev', 'median'];">
    <div class="btn-group">
      <button ng-repeat="s in stats" class="btn btn-mini"
              ng-class="{'info': activeField.stat == s}" ng-click="aggregate(s);">{{s}}</button>
    </div>
  </div>
</div>
