<div id="binding-inspector" ng-init="types=['linear', 'ordinal', 'log', 'pow', 'sqrt', 'quantile', 'quantize', 'threshold', 'utc', 'time', 'ref']; domainTypes = ['field', 'values']; rangeTypes = ['spatial', 'colors', 'shapes', 'sizes', 'other']; axisTypes=['x', 'y'];" >
	<div class="bubble">
		<a class="close" vde-clear-bubbles>Close</a>

		<h5>Scale Definition</h5>

	  <vde-property label="Name" type="text" item="activeScale" property="name" ng-model="activeScale.displayName" nodrop="1"></vde-property>

	  <vde-property label="Type" type="select" options="types" item="activeScale" property="type" ng-model="activeScale.properties.type" nodrop="1"></vde-property>

	  <fieldset id="domain">
	  	<legend>Domain</legend>

		  <vde-property label="From" type="radio" options="domainTypes" property="domainTypes.from" ng-model="activeScale.domainTypes.from" nodrop="1"></vde-property>

	  	<div ng-show="activeScale.domainTypes.from == 'field'"><vde-property label="Field" type="field" item="activeScale" property="field" field="activeScale.properties.field"></vde-property></div>
	  </fieldset>

	  <fieldset id="range">
	  	<legend>Range</legend>

	  	<vde-property label="Type" type="select" options="rangeTypes" property="rangeTypes.type" ng-model="activeScale.rangeTypes.type" nodrop="1" transclude="1">
	  		<p ng-show="activeScale.rangeTypes.type == 'spatial'">
	  			<vde-property label="" type="radio" options="axisTypes" item="activeScale" property="axisType" ng-model="activeScale.axisType" nodrop="1"></vde-property>
	  		</p>
	  	</vde-property>

	  	<vde-property label="From" type="radio" options="domainTypes" property="rangeTypes.from" ng-model="activeScale.rangeTypes.from" nodrop="1"></vde-property>

	  	<div ng-show="activeScale.rangeTypes.from == 'field'">
	  		<vde-property label="Field" type="field" item="activeScale" property="range" field="activeScale.properties.range"></vde-property>

	  		<div class="hint" ng-show="['sizes', 'other'].indexOf(activeScale.rangeTypes.type) == -1">
			  	<p>These preset ranges are available; to use one, drag it to <code>field</code> above.</p>

			  	<div ng-show="activeScale.rangeTypes.type == 'spatial' && activeScale.axisType == 'x'"><vde-binding field="'width'" draggable="1"></vde-binding></div>
			  	<div ng-show="activeScale.rangeTypes.type == 'spatial' && activeScale.axisType == 'y'"><vde-binding field="'height'" draggable="1"></vde-binding></div>
			  	<div ng-show="activeScale.rangeTypes.type == 'shapes'"><vde-binding field="'shapes'" draggable="1"></vde-binding></div>
			  	<div ng-show="activeScale.rangeTypes.type == 'colors'"><vde-binding field="'category10'" draggable="1"></vde-binding></div>
			  	<div ng-show="activeScale.rangeTypes.type == 'colors'"><vde-binding field="'category20'" draggable="1"></vde-binding></div>

			  	<br clear="all" />
			  </div>
	  	</div>
	  </fieldset>

	  <vde-property ng-if="activeScale.properties.type == 'ordinal'" label="Points" type="checkbox" item="activeScale" property="points" ng-model="activeScale.properties.points"></vde-property>
	</div>
</div>
