.textcomplete-dropdown {
	z-index: 5000 !important;
    border: 1px solid #ddd;
    background-color: white;
   
}

.textcomplete-dropdown li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
}

.textcomplete-dropdown li:first-child {
    border-top: none;
}

.textcomplete-dropdown li:hover,
.textcomplete-dropdown .active {
    background-color: rgb(110, 183, 219);
}

.textcomplete-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}

.textcomplete-dropdown a:hover {
    cursor: pointer;
}

.auto {
    padding-top: 0px;
	background-color: LightGray;
    border: 1px solid orange;
}
.unec {
    width: 100px;
}

.ce {

     box-shadow: 1px 1px 1px 0 lightgray inset; 
     background-color: white;
     width:100;
     overflow: hidden;
     height: 20px;
     margin-top: 5px;
     padding-left: 2px;
     white-space:nowrap;
     border: 1px solid darkgray;
     font: -moz-field;
     line-height: 20px;
    
}

.ce br {
    display: none;
}

.ce div {
    display: none;
}

