.expandingMenu {
  > ul > li{
    border-bottom: 1px solid $lgrey-bg;
  }

  ul {
    li {
      list-style-type: none;

      .name {
        position: relative;
        display: flex;
        padding: 10px;
        cursor: pointer;

        i {
          padding-right: $inner-padding;
        }

        .delete-sidebar {
          display: none;
          margin-left: auto;
          padding: 0;
          cursor: pointer;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        &:hover .delete-sidebar { display: block; }

        &.selected {
          background-color: $mblue-bg;
          color: #fff;
          font-weight: bold;

          .delete-sidebar {
            display: block;
          }
        }
      }
      .content-editable {
        display: inline-block;
      }
    }
  }
  .expanded {
    background-color: #fff;

    .expanded {
      background-color: $innerMenu;
      color: #555;
    }
  }

  .header {
    padding:10px;
  }
}
