.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  background-color: #fff;

  ul {
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      padding: 10px;
      display: inline-block;
      &:hover {
        background-color: #eee;
      }
    }
  }

  z-index: 9000;
}
