
.autocomplete, .content-editable:focus {
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  color: #000;
  background-color: white !important;
  border: 1px solid darkgray !important;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  padding: 5px;
}

.scale {
  display: inline-block;
  min-width: 20px;
  padding: $inner-padding;
  background-color: $dgrey-bg;
  border: 1px solid $dgrey-border;
  border-radius: 2*$border-radius;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.interaction {
  display: inline-block;
  min-width: 20px;
  padding: $inner-padding;
  background-color: $dgrey-bg;
  border: 1px solid $dgrey-border;
  border-radius: 2*$border-radius;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.signal {
  display: inline-block;
  min-width: 20px;
  padding: $inner-padding;
  background-color: $dgrey-bg;
  border: 1px solid $dgrey-border;
  border-radius: 2*$border-radius;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  margin: 2px;
  &:first-child {
    margin-top: 5px;
  }
}

.field {
  border: 1px solid;
  cursor: -webkit-grab;
  cursor: -moz-grab;

  &.source {
    background: #bed9ab;
    border-color: rgba(140, 161, 124, 0.5);

    &:hover {
      background: #d2e7c3;
    }
  }

  &.derived {
    background: #efe8af;
    border-color: rgba(209, 191, 148, 0.65);

    &:hover {
      background: #f5f1cc;
    }
  }
}

/* Messages from Bootstrap */
.success-message {
  padding: $outer-padding;
  margin: $margin 0;
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: $border-radius;
}

.error-message {
  padding: $outer-padding;
  margin: $margin 0;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: $border-radius;
}

.warning-message {
  padding: $outer-padding;
  margin: $margin 0;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: $border-radius;
}

.info-message {
  padding: $outer-padding;
  margin: $margin 0;
  color: #31708f;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  border-radius: $border-radius;
}

.button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  margin-top:5px;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: $border-radius;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  &:hover, &:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
    background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  }
}

.button-success, .button-error, .button-warning, .button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #5cb85c;
  border-color: #4cae4c;
}

.button-error {
    background: rgb(202, 60, 60);
}

.button-warning {
    background: rgb(223, 117, 20);
}

.button-secondary {
    background: rgb(66, 184, 221);
}

/* on off switch */

.onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select:none;
    -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 5px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 26px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 9px;
    margin: 8px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 32px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
