.hints {
  padding: 20px;
  background: #fff;
  position: absolute;
  bottom: 0;
  z-index: 999;
  border: 1px solid;
  left: 0;
  width: 54%;
  h3 {
    background-color: transparent;
  }
  @include breakingMenus {
    width: 500px;
    margin-left:505px;
  }
}

.close-hint {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
