.hints {
  padding: 20px;
  background: #fff;
  position: absolute;
  bottom: 40px;
  z-index: 999;
  border: 1px solid;
  left: 25px;
  width: 100%;
  margin-left: $sidebar-width;
  h3 {
    background-color: transparent;
  }
  @include breakingMenus {
    width: 500px;
    margin-left: 555px;
  }
  &.hidden {
    bottom: -200px;
  }
}
.close-hint {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

