$history-width: 230px;


#history-toolbar {
  padding: $outer-padding;
  background: $lgrey-bg;
  z-index: 1;
  margin-top: auto;
}

#history-toolbar.expanded {
  height: 150px;
}

#history-toolbar.contracted {
  height: 10px;
}

#history-toolbar h2 {
  margin-bottom: 10px;
  display: inline-block;
}

#history-toolbar .icon {
  vertical-align: middle;
}

#history-list {
  max-width: calc(100vw - #{$sidebars-width} - 20px);
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;

  .history-preview {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid transparent;
  }

  .history-preview.selected {
    border: 2px solid black;
  }

  .history-preview:hover {
    border: 2px solid black;
  }

  .history-item-container {
    display: inline-block;
    position: relative;
    margin: 0px 20px;

    .history-preview {
      position: absolute;
      border: 2px orange solid;
    }

    .history-preview:hover {
      border: 2px solid black;
    }
  }

  .history-item-container.expanded {
    width: initial !important;
    height: initial !important;

    .history-preview {
      position: inherit;
      top: 0px !important;
      left: 0px !important;
    }
  }

  .history-item-count {
    position: absolute;
    right: 15px;
    bottom: 5px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
  }
}

.drop-history {
  border: 2px solid #00ffff;
  box-shadow: 0 0 0 2px #2abfbf;
  border-radius: 3px;
  position: absolute;
}

.drop-history:hover {
  border: 1px solid #FF4D00;
}

