$label-width: 60px;
$long-label-width: $label-width + 10px;

#inspector {
  width: $inspector-width;
  background-color: $vlgrey-bg;

  h2 {
    background-color: $lgrey-bg;
    color: black;
    justify-content: center;
  }

  h3 {
    margin: $inner-padding 0;
    color: black;
    font-weight: bold;
    cursor: default;
    justify-content: flex-start;
    text-align: left;
    text-transform: uppercase;
  }

  .inner {
    padding: 0 $outer-padding;
    height: calc(100% - 35px);
    overflow-y: auto;
  }
}

.property-group {
  padding: $outer-padding 0;
  border-bottom: 1px solid $lgrey-bg;

  &.property {
    margin-bottom: 0;
  }
}
.last {
  margin-bottom: 50px;
}

.property {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: $outer-padding 0;

  label, .label { width: $label-width; }
  h3, .label-long { width: $long-label-width; }

  &.first-child { margin-bottom: 0; }

  /* &.droppable .control input, */&.droppable .autocomplete { outline: 2px solid cyan; }
  /* &.drag-over .control input, */&.drag-over .autocomplete { outline-color: lightsalmon; }

  .control {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: $inner-padding;

    .scale {
      padding: 3px ($outer-padding+$inner-padding) 2px $inner-padding;
      min-width: auto;
      max-width: 30px;
      border: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & + .field {
        margin-left: (-$outer-padding);
      }

      & + input {
        margin-left: (-$outer-padding);
        padding: 3px $inner-padding;
        border: 1px solid #ddd;
        border-radius: $outer-padding;
      }
    }

    .field {
      max-width: 65px;
      padding: 3px $inner-padding;
      border: 0;
      border-radius: $outer-padding;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .signal {
      // max-width: 65px;
      padding: 3px $inner-padding;
      border: 0;
      border-radius: $outer-padding;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      .scale, .field {
        cursor: pointer;
        text-decoration: line-through;
      }
    }
  }

  .extra {
    width: 100%;
    margin-top: $inner-padding;
  }

  input[type=range] { width: 70px; }

  input[type=number],
  input[type=text] {
    width: 75px;
  }

  .content-editable {
    color: #000;
    display: inline-block;
    margin-left: $inner-padding;
    border-bottom: 1px dashed #777;
  }

  .button {
    background-color: white;
    padding: $inner-padding 1.5*$inner-padding;
    margin-right: $inner-padding;
  }

  .button-secondary {
    background-color: rgba(66, 184, 221, 0.5);
  }
}

.more-props-label {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer !important;

  &:hover { color: $grey-font !important; }
}

.preview-controller {
  // background: $lgrey-bg;
  width: 100%;

  .preview-close {
    margin-left: auto;
    margin-right: $outer-padding;
    cursor: pointer;
  }

  .preview-header {
    display: flex;
    align-items: center;
    padding: $inner-padding 0;
    background: $dgrey-bg;
    color: white;
    fill: white;
  }

  .preview-header h2 {
    display: inline;
  }

  .preview-scroll {
    display: flex;
    flex-wrap: wrap;
    background: $grey-bg;
    max-height: calc(117px * 2.5);
    overflow-y: auto;
    margin-bottom: $outer-padding;
  }

  .preview-scroll > div {
    flex-basis: 50%;
    background: $grey-bg;
    color: white;

    &.selected {
      background: $lgrey-bg;
    }

    .preview-label {
      margin: 0.5 * $outer-padding 0;
    }

    svg.marks > g {
      transform: translate(12px, 13px);
    }

    .preview-label, .interaction-preview {
      width: 85px;
      margin: $inner-padding auto;
    }
  }
}

.signals-container {
  margin-top: $inner-padding;
  margin-left: -$inner-padding;

  .signal {
    margin: 2px;
    display: inline-block;
    padding: $inner-padding;
  }
}

.key-input {
  color: transparent;
  text-shadow: 0 0 0 $grey-bg;
}
