#layer-list {
  height: 50%;
  overflow-y: auto;
  ul.group {
    white-space: nowrap;
    border-bottom: 1px solid $lgrey-bg;
    li.header {
      padding: 1.5*$inner-padding $outer-padding;
      font-size: 10px;
      color: $blue-font;
      font-weight: bold;
      text-transform: uppercase;

      .icon {
        float: right;
        fill: $blue-font;
      }
    }
  }
}

#scale-list {
  height: 50%;
  overflow-y: auto;
  text-align: center;
  border-top: 1px solid $lgrey-bg;

  .interaction-list__group > h5 {
    margin: 0 $outer-padding $outer-padding $outer-padding;
    text-align: left;
  }

  h2 {
    color: $grey-font;
  }

  li {
    float: left;
    margin: $inner-padding;
    margin-top: 0;
    list-style-type: none;
  }

  .scale.name, .interaction.name {
    display: inline-block;
    padding: $inner-padding;
    text-align: center;

    &.selected {
      background-color: $lblue-bg;
      border-color: $dblue-bg;
    }
  }
}

