#layer-list {
  height: 75%;
  overflow-y: auto;
  ul.group {
    white-space: nowrap;
    border-bottom: 5px solid $lgrey-bg;
    li.header {
      padding: 1.5*$inner-padding $outer-padding;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.05em;

      .icon {
        float: right;
      }
    }
  }
}

#scale-list {
  height: 25%;
  overflow-y: auto;
  text-align: center;

  ul {
    margin-top: $inner-padding;
  }

  li {
    float: left;
    margin: $inner-padding;
    margin-top: 0;
    list-style-type: none;
  }

  .scale.name {
    display: inline-block;
    padding: $inner-padding;
    text-align: center;

    background-color: skyblue;
    color: black;

    &.selected {
      background-color: $vlgrey-bg;
    }
  }
}

