.ReactModal__Overlay{
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  transform: 'translate(-50%, -50%)';
  z-index: 9000;

  .ReactModal__Content {
    // position: relative !important;
  }

  .closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .wrapper {
    padding: 20px;
  }
}
