.ReactModal__Overlay{
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  marginRight: '-50%';
  transform: 'translate(-50%, -50%)';
  z-index: 9999;
  .closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .wrapper {
    padding:20px;
  }
}
