$pipeline-width: 180px;

#pipeline-sidebar {
  h2 {
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}

.pipeline {
  position: relative; /* For the datatable header column */
  background-color: $lblue-bg;
  width: $pipeline-width - 2*$inner-padding;
  padding: $inner-padding;
  margin: 0 auto $margin auto;

  border-radius: $border-radius;

  div.header {
    font-size: $header-font-size;
    font-weight: bolder;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
  }

  p.source {
    display: flex;
    align-items: center;
    margin: $margin (-$inner-padding);
    padding: $inner-padding;
    background: $lgrey-bg;
    border-top: 1px solid $lgrey-border;
    border-bottom: 1px solid $lgrey-border;

    .icon { margin-right: $inner-padding; }
  }

  &.selected {
    div.header {
      font-weight: 900;
    }
  }

}

.datatable {
  $cell-width: 55px;
  $cell-padding: 3px;
  $mw: $cell-width - $cell-padding;

  /* Req'd to prevent Chrome scrolling .field for some reason */
  $padding-hack: 2px;

  margin-left: $cell-width + 2*$cell-padding - $padding-hack;
  padding-left: $padding-hack;
  overflow: auto;
  font-size: 11px;

  td {
    min-width: $mw;
    max-width: $mw;
    padding: $cell-padding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    &.field {
      position: absolute;
      left: $inner-padding;
      top: auto;
    }
  }

  .odd {
    background: #fff;
    border-bottom: 1px solid;
    border-color: #eee;
  }

  .even {
    background: #eee;
    border-bottom: 1px solid;
    border-color: #ddd;
  }

  .full {
    display: none;
    position: absolute;
    min-width: $mw;
    width: auto;
    padding: 5px $cell-padding;
    vertical-align: middle;

    &.field {
      left: $inner-padding;
    }

    &.value {
      border-width: 1px;
      border-style: solid;
      border-left: 1px solid transparent;
      pointer-events: none;
    }

    .icon {
      cursor: pointer;
      margin-right: $inner-padding;
    }
  }
}

.paging {
  margin-top: $inner-padding;
  font-size: 10px;
  display: flex;

  span {
    flex: 1 100%;

    &.pager {
      text-align: right;
    }
  }

  .icon {
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.pipelineModal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .closeModal {
    top: $inner-padding;
    right: $inner-padding;
  }

  .examples, .load {
    flex: 1;
    padding: 0 2*$inner-padding;
    height: 300px;
    overflow: auto;
  }

  .load h2 {
    margin: 2*$margin 0;
  }

  .examples h2 {
    margin: 2*$margin 0;
    margin-bottom: $margin;
  }

  .examples li {
    padding: $outer-padding;
    cursor: pointer;
    border-radius: $border-radius;

    &:hover {
      background: $lblue-bg;
    }

    &.selected {
      background: $lyellow-bg;
    }
  }

  .example-name {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: $dblue-bg;
    margin-bottom: $inner-padding;
  }

  abbr {
    font-variant: small-caps;
    font-size: 1.3em;
  }

  form {
    margin: $margin 0;

    input[type=text] {
      margin-right: $inner-padding;
      width: 195px;
    }
  }

  textarea {
    font-family: monospace;
  }

  .textarea-dnd,
  input[type="text"] {
    border: 1px solid;
    border-radius: 3px;
    font-size: 100%;
    padding: .5em 1em;
    border-color: $lgrey-border;
  }

  .textarea-dnd {
    &.active {
      background-color: $lblue-bg;
      border-color: $mblue-bg;
    }
  }

  input[type="text"] {
    line-height: normal;
    margin-top: 5px;
  }

  .error-message {
    width: 100%;
    margin: 2 * $margin;
    margin-top: 0;
  }

  .preview {
    position: relative;
    margin: 0 2 * $margin;
    width: 520px;

    h2 {
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    .datatable td.field, .datatable .full.field { left: 0; }

    button {
      margin: $margin 0;
    }
  }
}
