$pipeline-width: 230px;


#pipeline-toolbar {
  padding: $outer-padding;
  background: $lgrey-bg;
  max-height: 205px;
  margin-bottom: $outer-padding;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#pipeline-list {
  max-width: calc(100vw - #{$sidebars-width} - 20px);

  #pipeline-hint {
    padding: 15px 0;
    cursor: pointer;
  }
}

.pipeline-tabs {
  margin-left: 125px;

  .new {
    padding: $inner-padding;
    cursor: pointer;
  }

  div.header {
    font-size: $header-font-size;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: $inner-padding $outer-padding;
    margin-right: $margin/2;

    background-color: $grey-bg;
    color: white;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    &.selected {
      background-color: $vlgrey-bg;
      color: black;
    }
  }
}

.pipeline {
  background-color: $vlgrey-bg;
  overflow-x: auto;

  p.source {
    display: flex;
    align-items: center;
    margin: $margin (-$inner-padding);
    padding: $inner-padding;
    background: $grey-bg;
    color: white;
    fill: white;
    border-top: 1px solid $lgrey-border;
    border-bottom: 1px solid $lgrey-border;

    .icon { margin-right: $inner-padding; }
  }

  &.selected {
    display: inline-block;
    padding: $outer-padding $inner-padding $inner-padding $outer-padding;
    border-radius: $border-radius;

    div.header {
      font-weight: 900;
    }
  }
}

.datatable-multi {
  display: flex;

  .datatable-container {
    max-width: 230px;
    margin-right: 2*$inner-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.datatable-container {
  position: relative; /* For the datatable header column */
}

.datatable {
  $cell-width: 55px;
  $cell-padding: 3px;
  $menu-offset: 22px; // calculate cell height
  $mw: $cell-width - $cell-padding;

  /* Req'd to prevent Chrome scrolling .field for some reason */
  $padding-hack: 2px;

  margin-left: $cell-width + 2*$cell-padding - $padding-hack;
  padding-left: $padding-hack;
  overflow: auto;
  font-size: 11px;

  td {
    min-width: $mw;
    max-width: $mw;
    padding: $cell-padding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    &.field {
      position: absolute;
      left: 0;
      top: auto;
    }
  }

  .odd {
    background: #fff;
    border-bottom: 1px solid;
    border-color: #eee;
  }

  .even {
    background: #e3e3e3;
    border-bottom: 1px solid;
    border-color: #ddd;
  }

  .aggregates-list,
  .full {
    display: none;
    position: absolute;
    min-width: $mw;
    width: auto;
    vertical-align: middle;
  }

  .full {
    padding: 5px $cell-padding;

    &.field {
      left: 0;
    }

    &.value {
      border-width: 1px;
      border-style: solid;
      border-left: 1px solid transparent;
      pointer-events: none;
    }

    .icon {
      cursor: pointer;
      margin-right: $inner-padding;

      &:last-child { margin-right: 0; }
    }

    .fieldName {
      margin-right: $inner-padding;
    }
  }

  .aggregates-list {
    top: 0;
    left: $inner-padding;
    margin: $menu-offset 0;
    box-shadow: 0px 6px 12px rgba(0,0,0,.175);
    z-index: 5000;

    .full {
      display: block;
      position: relative;
      left: 0;

      &.more {
        cursor: pointer;
        font-style: italic;
      }
    }
  }
}

.paging {
  margin-top: $inner-padding;
  font-size: 10px;
  display: flex;

  span {
    flex: 1 100%;

    &.pager {
      text-align: right;
    }
  }

  .icon {
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.transform-list {
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  &:not(:empty) {
    margin-bottom: $outer-padding;
  }

  .transform-button {
    display: inline-block;
    padding: $inner-padding;
    cursor: pointer;
    background: $lgrey-bg;
    border: 1px solid $lgrey-border;
    border-radius: $border-radius;
    margin-right: $inner-padding;
    margin-bottom: $inner-padding;
  }

  .transform-inspector {
    width: 100%;
    margin: $outer-padding 0;
    border-top: 1px solid $lgrey-bg;
    border-bottom: 1px solid $lgrey-bg;

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
}

.pipelineModal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .closeModal {
    top: $inner-padding;
    right: $inner-padding;
  }

  .examples, .load {
    flex: 1;
    padding: 0 2*$inner-padding;
    height: 300px;
    overflow: auto;
  }

  .load h2 {
    margin: 2*$margin 0;
  }

  .load p {
    margin-bottom: $margin;
  }

  .examples h2 {
    margin: 2*$margin 0;
    margin-bottom: $margin;
  }

  .examples li {
    padding: $outer-padding;
    cursor: pointer;
    border-radius: $border-radius;

    &:hover {
      background: $vlgrey-bg;
    }

    &.selected {
      background: $lgrey-bg;
    }
  }

  .example-name {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: $inner-padding;
  }

  abbr {
    font-variant: small-caps;
    font-size: 1.3em;
  }

  form {
    margin: $margin 0;

    input[type=text] {
      margin-right: $inner-padding;
      width: 195px;
    }
  }

  textarea {
    font-family: monospace;
  }

  .textarea-dnd,
  input[type="text"] {
    border: 1px solid;
    border-radius: 3px;
    font-size: 100%;
    padding: .5em 1em;
    border-color: $lgrey-border;
  }

  .textarea-dnd {
    &.active {
      background-color: $lblue-bg;
    }
  }

  input[type="text"] {
    line-height: normal;
    margin-top: 5px;
  }

  .error-message, .success-message {
    width: 100%;
    margin: 2 * $margin;
    margin-top: 0;
    margin-bottom: $margin;
  }

  .preview {
    position: relative;
    margin: 0 2 * $margin;
    width: 520px;

    h2 {
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: $margin;
    }

    .datatable td.field, .datatable .full.field { left: 0; }

    button {
      margin: $margin 0;
    }
  }
}
