$pipeline-width: 180px;

#pipeline-sidebar {
  h2 {
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}

.pipeline {
  position: relative; /* For the datatable header column */
  background-color: $lblue-bg;
  width: $pipeline-width - 2*$inner-padding;
  padding: $inner-padding;
  margin: 0 auto $margin auto;

  border-radius: $border-radius;

  div.header {
    font-size: $header-font-size;
    font-weight: bolder;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
  }

  p.source {
    display: flex;
    align-items: center;
    margin: $margin (-$inner-padding);
    padding: $inner-padding;
    background: $lgrey-bg;
    border-top: 1px solid $lgrey-border;
    border-bottom: 1px solid $lgrey-border;

    .icon { margin-right: $inner-padding; }
  }

  &.selected {
    div.header {
      font-weight: 900;
    }
  }

}

.datatable {
  $cell-width: 55px;
  $cell-padding: 3px;
  $mw: $cell-width - $cell-padding;

  /* Req'd to prevent Chrome scrolling .field for some reason */
  $padding-hack: 2px;

  margin-left: $cell-width + 2*$cell-padding - $padding-hack;
  padding-left: $padding-hack;
  overflow: auto;
  font-size: 11px;

  td {
    min-width: $mw;
    max-width: $mw;
    padding: $cell-padding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    &.field {
      position: absolute;
      left: $inner-padding;
      top: auto;
    }
  }

  .odd {
    background: #fff;
    border-bottom: 1px solid;
    border-color: #eee;
  }

  .even {
    background: #eee;
    border-bottom: 1px solid;
    border-color: #ddd;
  }

  .full {
    display: none;
    position: absolute;
    min-width: $mw;
    width: auto;
    padding: 5px $cell-padding;
    vertical-align: middle;

    &.field {
      left: $inner-padding;
    }

    &.value {
      border-width: 1px;
      border-style: solid;
      border-left: 1px solid transparent;
      pointer-events: none;
    }

    .icon { cursor: pointer; }
  }
}

.paging {
  margin-top: $inner-padding;
  font-size: 10px;
  display: flex;

  span {
    flex: 1 100%;

    &.pager {
      text-align: right;
    }
  }

  .icon {
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.pipelineModal {
  .partLeft,
  .partRight {
    width: 50%;
    float: left;

    h2 {
      margin-bottom: 20px;
    }

    div.sect {
      margin-bottom: 10px;
      padding: 10px 0;
    }
  }
}
