// Body

body {
  background: $vlgrey-bg;
  font-family: Lato, Helvetica Neue, Helvetica, Arial;
  font-size: 12px;
  overflow-y: hidden;
}

[draggable] {
  user-select: none;
}

// overall container
.lyra-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

// The two main sections of our app
// Sidebar is where the react components are placed
.sidebar-container{
  display: flex;
  width: $sidebars-width;
  height: 100%;
  box-shadow: 1px 0 3px rgba(0,0,0,0.12), 1px 0 2px rgba(0,0,0,0.24);
  z-index: 1;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tools-container {
  display: flex;
}

// Vis-container is where vega is placed
.vis-container {
  padding-left: $margin;
  flex: 1;
  display: flex;
  flex-direction: column;


  #vis {
    flex: 1;
    overflow: auto;

    canvas, svg {
      border: 1px solid #ccc;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }

  .interaction-widget {
    border: 1px solid #333333;
    padding: $outer-padding;
    border-radius: 3px;
    display: inline-block;
    margin: 0 2*$outer-padding 2*$outer-padding 2*$outer-padding;
  }

  .widget-tag {
    border: 1px solid #bed000;
    padding: 3px 10px;
    cursor: pointer;
    background:#bed9ab;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 2px;
  }

  .widgetPanel {
    margin-top: 50px;
    background: #ccc;
    padding: 20px;
  }

    .widgetDemonstration {
      display: inline-block;
      margin: 0 25px;
      padding: 10px;
      background: #bbb;

      &:hover {
        background: #aaa;
      }
    }

  .widgetPanel.disabled {
    display: none;
  }

  .preview-controller-wrap {
    display :none;
    &.active {
      display: block;
    }
  }

  .interaction-preview-container .preview-controller {
    background: $lgrey-bg;
    width: 100%;
    display: none;

    &.active {
      display: block;
    }

    h2 {
      justify-content: normal;
      margin: 0 $outer-padding;
    }

    h5  {
      margin: $outer-padding $outer-padding $outer-padding / 2;
    }

    .preview-close {
      margin-left: auto;
      margin-right: $outer-padding;
      cursor: pointer;
    }

    .preview-header {
      display: flex;
      align-items: center;
      padding: $inner-padding 0;
      background: $dgrey-bg;
      color: white;
      fill: white;
    }

    .preview-header h2 {
      display: inline;
    }

    .preview-scroll {
      display: flex;
      background: $grey-bg;
    }

    .preview-scroll > div {
      display: inline-block;
      padding: 0 $outer-padding $outer-padding;
      background: $grey-bg;
      color: white;

      &.selected {
        background: $lgrey-bg;
      }

      .preview-label {
        margin: 0.5 * $outer-padding 0;
      }

      svg.marks > g {
        transform: translate(12px, 13px);
      }
    }

    .signals-container {
      margin-left: 10px;
    }
  }
}

// each vertical sidebar
.sidebar {
  float: left;
  position: relative;
  z-index: 999;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;

  h2 {
    padding: 10px;
    background-color: $dgrey-bg;
    color: white;
    fill: white;
  }
}

#visual-sidebar {
  display: flex;
  flex-flow: column;
  width: $visual-sidebar-width;
  background-color: $lgrey-bg;
}

.widget-tag {
  border: 1px solid #bed000;
  padding: 3px 10px;
  cursor: pointer;
  background:#bed9ab;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 2px;
}

.tooltip {
  font-size: 11px !important;
  padding: $inner-padding $outer-padding !important;
  border-radius: $border-radius !important;
  line-height: 1.3em !important;
}

.hidden {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}
