// Body

body {
  background: $vlgrey-bg;
  font-family: Lato, Helvetica Neue, Helvetica, Arial;
  font-size: 12px;
  overflow-y: hidden;
}

[draggable] {
  user-select: none;
}

// overall container
.lyra-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

// The two main sections of our app
// Sidebar is where the react components are placed
.sidebar-container{
  display: flex;
  width: $sidebars-width;
  height: 100%;
  box-shadow: 1px 0 3px rgba(0,0,0,0.12), 1px 0 2px rgba(0,0,0,0.24);
  z-index: 1;
}

.interaction-list {
  .icon {
    cursor: pointer;
    height: 10px;
    width: 10px;
  }
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tools-container {
  display: flex;
  overflow-y: auto;
}

// Vis-container is where vega is placed
.vis-container {
  padding-left: $margin;
  flex: 1;
  display: flex;
  flex-direction: column;


  #vis {
    flex: 1;
    overflow: auto;

    canvas, svg {
      border: 1px solid #ccc;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }

  .interaction-widget {
    border: 1px solid #333333;
    box-shadow: 0 0 0 3px cyan;
    padding: $outer-padding;
    border-radius: 3px;
    display: inline-block;
    margin: $outer-padding 5px;
    max-width: 640px;
  }

  // dropzones to handle group placement in layout
  .drop-mark {
    border: 1px solid #333333;
    box-shadow: 0 0 0 3px lightgray;
    background-color: lightgray;
    padding: $outer-padding;
    border-radius: 3px;
    margin: $outer-padding 5px;

    // .left {
    //   margin-left: 50;
    // }
    // .top, .right, .bottom {
    //   margin-right: 50;
    // }
  }
  .drop-mark.left {
    margin-left: 50;
  }

  .drop-mark.top, .drop-mark.bottom, .drop-mark.right {
    margin-right: 50;
  }

  .drop-mark.placeholder {
    position: absolute;
  }

  .markdropzone-container {
    position: absolute;
  }

  .markdropzone-line {
    position: absolute;
    display: flex;
  }

  .markdropzone-line.top {
    flex-direction: row;
  }

  .markdropzone-line.bottom {
    flex-direction: row;
  }

  .markdropzone-line.left {
    flex-direction: row-reverse;
    transform: rotate(-90deg) translate(-100%, 0%);
    transform-origin: top left;
  }
  .markdropzone-line.right {
    flex-direction: row;
    transform: rotate(90deg) translate(0%, -100%);
    transform-origin: top left;
  }

  .rowColResize-container {
    position: absolute;
  }

  .resize-line.vertical {
    position: absolute;
    border-left: 5px solid white;
    height: 160px;
    top: 0px;
    left: 0px;
  }

  .resize-line.horizontal {
    position: absolute;
    border-top: 5px solid white;
    width: 160px;
    top: 0px;
    left: 0px;
    z-index: 0;
  }

  .vega-bindings {
    margin-top: $outer-padding;
    .vega-bind-name {
      display: block;
    }
  }
}

// each vertical sidebar
.sidebar {
  float: left;
  position: relative;
  z-index: 999;
  height: 100%;
  box-sizing: border-box;

  h2 {
    padding: 10px;
    background-color: $dgrey-bg;
    color: white;
    fill: white;
  }
}

#visual-sidebar {
  display: flex;
  flex-flow: column;
  width: $visual-sidebar-width;
  background-color: $lgrey-bg;
}

.widget-tag {
  border: 1px solid #bed000;
  padding: 3px 10px;
  cursor: pointer;
  background:#bed9ab;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 2px;
}

.tooltip {
  font-size: 11px !important;
  padding: $inner-padding $outer-padding !important;
  border-radius: $border-radius !important;
  line-height: 1.3em !important;
}

.hidden {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}
