// media query breaks
$breaking-width: 1222px;

@mixin breakingMenus {
  @media (max-width: #{$breaking-width}) {
    @content;
  }
}

// Body

body {
  background: $bg-color;
  font-family: Lato, Helvetica Neue, Helvetica, Arial;
  font-size: 12px;
  overflow-y: hidden;
}

// The two main sections of our app
// Sidebar is where the react components are placed
.sidebar-container{
  width: $sidebars-width;
  position: relative;
}

// Vis-container is where vega is placed
.vis-container {
  left: $sidebars-width;
  overflow: auto;
  display: block;
  position: absolute;
  bottom: 0;
  top: 60px;

  #vis {
    margin: 0 2*$outer-padding 2*$outer-padding;

    canvas {
      border: 1px solid #ccc;
      box-shadow: 2px 2px 17px 0px rgba(0,0,0,0.15)
    }
  }
}

// each vertical sidebar
.sidebar {
  float: left;
  position: relative;
  z-index: 999;
  height: 100%;
  overflow-y: scroll;
  background-color: $bg-color;
  box-sizing: border-box;

  h2 {
    padding: 10px;
  }
}

#visual-sidebar {
  width: $visual-sidebar-width;
  background-color: $vlgrey-bg;
  border-right: 1px solid $lgrey-bg;
}

#inspector {
  width: $inspector-width;
  background-color: $lblue-bg;
}

#pipeline-sidebar {
  width: $pipeline-sidebar-width;
  background-color: $dblue-bg;
}
