// container for the grid
.app {
  @include container();
  margin: 0;
  overflow-y: hidden;
}

// grid helper classes
@include generate_helper_classes();


// media query breaks

$tablet-width: 768px;
$desktop-width: 1024px;
$breaking-width: 1222px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin breakingMenus {
  @media (max-width: #{$breaking-width}) {
    @content;
  }
}



// Body

body {
  background:$vdgrey-bg;
  font-family: Avenir, Helvetica Neue, Helvetica, Arial;
  font-size: 13px;
  overflow-y: hidden;
}

// The two main sections of our app
// Sidebar is where the react components are placed
.sidebar-container{
  width: $sidebar-width;
  position: relative;
}

// Vis-container is where vega is placed
.vis-container {
  left: $visualization-offset;
  overflow: auto;
  display: block;
  position: absolute;
  bottom: 0;
  top: 60px;
  #vis {
    margin: 0 50px 50px;
  }
}


// each vertical sidebar
.sidebar {
  header {
    padding: 10px;
  }
  position: relative;
  z-index: 999;
  border-right: 1px solid $lgrey-bg;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: $bg-color;
}

.lt-blue-bg {
  background-color: $vlgrey-bg;
}
.md-blue-bg{
  background-color: $lblue-bg;
}
.dk-blue-bg{
  background-color: $dblue-bg;
}

.visualization {
  .hed-tertiary {
    background-color: #fff;
  }
}
