.settings {
  .label-inline {
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    margin-top: 7px;
    margin-right: 10px;
  }
  .inline {
    display: inline-block;
  }
}
