.toolbar {
  margin-left: $outer-padding;

  a {
    text-decoration: none;
    color: inherit;
    display: table-cell;
  }

  ul {
    background-color: $lgrey-bg;
    display: flex;
    margin: 0 0 10px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &.add-marks {
      display: flex;
      flex-direction: column;
    }

    &:not(.add-marks) {
      .icon {
        display: block;
        margin: auto;
      }
    }

    li {
      flex-basis: 50%;
      position: relative;
      text-transform: uppercase;
      width: auto;
      padding: 7px;
      display: flex;
      cursor: pointer;

      ul {
        visibility: hidden;
        position: absolute;
        flex-flow: row wrap;
        z-index: 9999;
        top: 27px;
        left: 0px;
        margin: -1px;

        li {
          display: block;
          width: 100%;
          flex-basis: 100%;
          text-align: center;
        }
      }

      &:hover {
        background-color: $vlgrey-bg;

        ul { visibility: visible; }
      }

      .icon {
        padding-right: $inner-padding;

        &.undo, &.redo, &.save, &.open { padding-right: 0; }
      }

      &.grey {
        cursor: default;

        .icon { fill: #555; }
        &:hover { background-color: transparent; }
      }
    }

    &.undo-redo li, &.persist li {
      justify-content: center;
    }
  }

  .nav-trigger, label {
    display: none;
  }
}

.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  background-color: $lgrey-bg;
  border: 1px solid #aaa;
}

.menu {
  transition: top 0.2s;
}

.menu-group {
  margin-bottom: 2*$margin;
}

.nav-trigger:checked ~ .menu{
  top: 45px;
}

.feedback li {
  padding-left: 4.5px !important;

  .icon {
    padding-right: 2px !important;
  }
}

.examples-button li {
  padding-left: 5.5px !important;

  .icon {
    padding-right: 1px !important;
  }
}

.example-gallery-entry {
  padding: 15px 0;

  img {
    border: 1px solid $lgrey-bg;
  }

  h5 {
    margin: 0.66em auto;
  }

  ul {
    line-height: 1.3;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}