.toolbar {
  position: absolute;
  left: 2*$outer-padding;
  margin-left: $sidebars-width;

  ul {
    background-color: $lgrey-bg;
    display: flex;
    margin: 0 10px 0 0;
    border: solid 1px #999;
    border-top: 0;

    li {
      position: relative;
      text-transform: uppercase;
      width: auto;
      padding: 7px;
      display: flex;
      cursor: pointer;

      ul {
        visibility: hidden;
        position: absolute;
        flex-flow: row wrap;
        z-index: 9999;
        top: 27px;
        left: 0px;
        margin: -1px;
        border-top: solid 1px #999;

        li {
          display: block;
          width: 100%;
        }
      }

      &:hover {
        background-color: $lblue-bg;

        ul { visibility: visible; }
      }

      .icon {
        padding-right: $inner-padding;

        &.undo, &.redo, &.save, &.open { padding-right: 0; }
      }

      &.grey {
        cursor: default;

        .icon { fill: #777; }
        &:hover { background-color: transparent; }
      }
    }
  }

  .menu {
    display: flex;
  }

  .nav-trigger, label {
    display: none;
  }
}

.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  background-color: $lgrey-bg;
  border: 1px solid #aaa;
}

.menu {
  transition: top 0.2s;
}

.nav-trigger:checked ~ .menu{
  top: 45px;
}
