.toolbar {
  background-color: $lgrey-bg;
  position: absolute;
  left: 5%;
  top: 15px;
  ul {
    margin: 0;
    li {
      padding: 10px;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background-color: $lblue-bg;
      }
    }
  }
  margin-left: $sidebar-width;
  .nav-trigger,
  label {
    display: none;
  }
  @include breakingMenus {
    .nav-trigger,
    label
    {
      display: block;
    }
    .menu {
      position: absolute;
      top: -600px;
      left: 0px;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background-color: $lgrey-bg;
      z-index: 9999;
      border: 1px solid #eee;
    }
    ul li {
      display: block;
      width: 100px;
    }
  }
}

.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}


.menu {
  transition: top 0.2s;
}

.nav-trigger:checked ~ .menu{
  top: 45px;
}
