h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2*$header-font-size;
  text-transform: uppercase;
  margin-bottom: $margin;
  vertical-align: bottom;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: $header-font-size;
  text-transform: uppercase;
  margin-bottom: $margin;
  vertical-align: bottom;
  text-align: center;
  margin-bottom: 0;

  .new {
    font-size: 11px;
    font-weight: normal;
    margin-left: auto;
    cursor: pointer;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2*$outer-padding;
  text-align: center;
  color: #000;
  cursor: pointer;

  .icon {
    padding-right: $inner-padding;
  }
}

h4 {
  margin-bottom: $inner-padding;
}

.hint-header {
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px;
}

.error {
  color: $red-font;
}
.success {
  color: $blue-font;
}
