// Colors

$bg-color: #ddd;

$red-font: #FF313A;

$green-font: #23E363;

$dblue-bg: #7B8B9D;
$mblue-bg: #92A3B2;
$lblue-bg: #CBD2DA;
$blue-font: #7B8B9D;

$dgrey-bg: #939393;
$vlgrey-bg: #D9DDE2;
$lgrey-bg: #BFBFBF;
$dgrey-border: #6B6B6B;
$lgrey-border: #989CA5;
$grey-font: #555;
$vdgrey-bg: #5F5D5D;

$lgreen-bg: #bed9ab;
$lgreen-border: rgba(140, 161, 124, 0.5);
$lgreen-hover: #d2e7c3;

$lyellow-bg: #efe8af;
$lyellow-border: rgba(209, 191, 148, 0.65);
$lyellow-hover: #f5f1cc;

$dpurple-bg: #73668B;
$lpurple-bg: #C6BFD1;
$lpurple-hover: #D4CCE1;

$yf-color: #FFFF77;

$innerMenu: #FCFCFC;

$border-radius: 5px;

$toolbar-height: 16px;

// Grid
$visual-sidebar-width: 150px;
$scale-list-width: $visual-sidebar-width;
$inspector-width: 200px;
$pipeline-sidebar-width: 200px;
$sidebars-width: $visual-sidebar-width + $inspector-width + $pipeline-sidebar-width;

$header-font-size: 15px;

// Paddings

$outer-padding: 10px;
$inner-padding: 5px;
$margin: $outer-padding;

@mixin pill($bg, $border) {
  display: inline-block;
  min-width: 20px;
  padding: $inner-padding;
  background-color: $bg;
  border: 1px solid $border;
  border-radius: 2*$border-radius;
  cursor: grab;
}
