// Colors

$bg-color: #ddd;

$dblue-bg: #7B8B9D;
$mblue-bg: #92A3B2;
$lblue-bg: #CBD2DA;
$blue-font: #7B8B9D;

$dgrey-bg: #939393;
$vlgrey-bg: #D9DDE2;
$lgrey-bg: #BFBFBF;
$dgrey-border: #6B6B6B;
$lgrey-border: #989CA5;
$grey-font: #808080;
$vdgrey-bg: #5F5D5D;

$innerMenu: #FCFCFC;

$border-radius: 5px;

$toolbar-height: 16px;

// Grid
$visual-sidebar-width: 150px;
$scale-list-width: $visual-sidebar-width;
$inspector-width: 200px;
$pipeline-sidebar-width: 200px;
$sidebars-width: $visual-sidebar-width + $inspector-width + $pipeline-sidebar-width;

$header-font-size: 15px;

// Paddings

$outer-padding: 10px;
$inner-padding: 5px;
$margin: $outer-padding;
