// Colors

$dgrey-bg: #373737;
$grey-bg: #616161;
$lgrey-bg: #bdbdbd;
$vlgrey-bg: #efefef;

$dgrey-border: #6B6B6B;
$lgrey-border: #989CA5;
$grey-font: #555;
$vdgrey-bg: #5F5D5D;

$dblue-bg: #7B8B9D;
$mblue-bg: #92A3B2;
$lblue-bg: #CBD2DA;

$innerMenu: #FCFCFC;

$border-radius: 5px;

$toolbar-height: 16px;

// Grid
$visual-sidebar-width: 130px;
$scale-list-width: $visual-sidebar-width;
$inspector-width: 200px;
$pipeline-sidebar-width: 250px;
$sidebars-width: $visual-sidebar-width + $inspector-width + $pipeline-sidebar-width;

$header-font-size: 15px;

// Paddings

$outer-padding: 10px;
$inner-padding: 5px;
$margin: $outer-padding;
